{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/learn.css">
{/block}
{block name="body"}
{include file="public/header"}
<div class="container">
    <div class="banner col-md-12 col-lg-12  col-sm-12 col-xs-12">
        <img src="/home/images/slide2.png" alt="">
    </div>
    <div class="content col-md-12 col-lg-12  col-sm-12 col-xs-12">
        <div class="col-md-3 col-lg-3  col-sm-3 col-xs-3">
            <div class="content_tab">
                <ul>
                    <li class="red"><a href="javascript:;"><span>每日一课</span><span>  </span> </a></li>
                </ul>
            </div>
            <div class="tab_img">
                <ul>
                    <li><a href="#"><img src="/home/images/ht.png" alt=""></a></li>
                    <li><a href="#"><img src="/home/images/ht.png" alt=""></a></li>
                    <li><a href="#"><img src="/home/images/ht.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-lg-9  col-sm-9 col-xs-9">
            <div class="content_title">
                <span>您的当前位置：</span>
                <a href="/home/index/index.html">首页</a>
                <span> > </span>
                <a href="/home/learn/answer.html">每日一做</a>
            </div>
            <div class="learnLists">
                <p class="textTitle">每日一做</p>
                <div class="content_text">
                    <div class="learn_title">党章党规全掌握</div>
                    <div class="lists">
                        <div class="list">
                            <p class="list_title">1、在新的历史条件下，我们党面临着执政、改革开放、（）外部环境“四大考验”。</p>
                            <form>
                                <label>
                                    <input type="radio" name="" value="1">
                                    <label class="option">A</label>
                                    <span class="opt">商品经济</span>
                                </label>
                                <label for="">
                                    <input type="radio" name="" value="2">
                                    <label class="option">B</label>
                                    <label class="opt">外部环境</label>
                                </label>
                                <label for="">
                                    <input type="radio" name="" value="3">
                                    <label class="option">C</label>
                                    <label class="opt">市场经济</label>
                                </label>
                                <label for="">
                                    <input type="radio" name="" value="4">
                                    <label class="option">D</label>
                                    <label class="opt">执政能力</label>
                                </label>
                            </form>
                        </div>
                        <div class="list">
                            <p class="list_title">2、在新的历史条件下，我们党面临着执政、改革开放、（）外部环境“四大考验”。</p>
                            <form>
                                <label>
                                    <input type="radio" name="" value="1" style="width: 10px; height: 10px; border: 1px solid;">
                                    <label class="option">A</label>
                                    <span class="opt">商品经济</span>
                                </label>
                                <label for="">
                                    <input type="radio" name="" value="2">
                                    <label class="option">B</label>
                                    <label class="opt">外部环境</label>
                                </label>
                                <label for="">
                                    <input type="radio" name="" value="3">
                                    <label class="option">C</label>
                                    <label class="opt">市场经济</label>
                                </label>
                                <label for="">
                                    <input type="radio" name="" value="4">
                                    <label class="option">D</label>
                                    <label class="opt">执政能力</label>
                                </label>
                            </form>
                        </div>
                        <div class="list">
                            <p class="list_title">3、在新的历史条件下，我们党面临着执政、改革开放、（）外部环境“四大考验”。</p>
                            <form>
                                <label>
                                    <input type="radio" name="" value="1" style="width: 10px; height: 10px; border: 1px solid;">
                                    <label class="option">A</label>
                                    <span class="opt">商品经济</span>
                                </label>
                                <label for="">
                                    <input type="radio" name="" value="2">
                                    <label class="option">B</label>
                                    <label class="opt">外部环境</label>
                                </label>
                                <label for="">
                                    <input type="radio" name="" value="3">
                                    <label class="option">C</label>
                                    <label class="opt">市场经济</label>
                                </label>
                                <label for="">
                                    <input type="radio" name="" value="4">
                                    <label class="option">D</label>
                                    <label class="opt">执政能力</label>
                                </label>
                            </form>
                        </div>
                        <div class="list">
                            <p class="list_title">4、在新的历史条件下，我们党面临着执政、改革开放、（）外部环境“四大考验”。</p>
                            <form>
                                <label>
                                    <input type="radio" name="" value="1" style="width: 10px; height: 10px; border: 1px solid;">
                                    <label class="option">A</label>
                                    <span class="opt">商品经济</span>
                                </label>
                                <label for="">
                                    <input type="radio" name="" value="2">
                                    <label class="option">B</label>
                                    <label class="opt">外部环境</label>
                                </label>
                                <label for="">
                                    <input type="radio" name="" value="3">
                                    <label class="option">C</label>
                                    <label class="opt">市场经济</label>
                                </label>
                                <label for="">
                                    <input type="radio" name="" value="4">
                                    <label class="option">D</label>
                                    <label class="opt">执政能力</label>
                                </label>
                            </form>
                        </div>
                    </div>
                    <div class="list_btn">确认提交</div>
                </div>
                <!--分页-->
                <div id="page" class="page_div"></div>
            </div>
        </div>
    </div>
</div>
<div class="suc">
    <div class="timer"></div>
    <div class="up">上传中...</div>
</div>
{/block}
{block name="script"}
<script>
    $(function () {
        $(".opt").on("click",function () {
            $(this).parents('form').children("label").children(".option").removeClass("active");
            $(this).prev().addClass("active");
        });
        $(".list_btn").on("click", function () {
            $(this).addClass("active");
            submitAnswer();
        });
        //提交
        function submitAnswer(){
            isAll = true;
            var up = $('.up');
            var suc = $('.suc');
            var timer = $('.timer');
            var answer = getAnswer();
            objNow=null;
            if(isAll){
                $.ajax({
                    type:"post",
//                    url:"{:Url('Constitution/submits')}",
                    data:{arr:answer,arrId:getDataID()},
                    success:function(e){
                        suc.fadeIn();
                        setTimeout(function(){
                            objNow=null;
                            timer.fadeOut();
                            up.text('提交成功');
                            setTimeout(function(){
//                                window.location.href= "{:Url('Constitution/score')}";
                            },1000)
                        },2000);
                    }
                });
            }else{
                var msg = confirm('您未全部完成，是否确定提交');
                if(msg){
                    $.ajax({
                        type:"post",
//                        url:"{:Url('Constitution/submits')}",
                        data:{arr:answer,arrId:getDataID()},
                        success:function(e){
                            suc.fadeIn();
                            setTimeout(function(){
                                objNow=null;
                                timer.fadeOut();
                                up.text('提交成功');
                                setTimeout(function(){
//                                    window.location.href= "{:Url('Constitution/goon')}";
                                },1000)
                            },2000);
                        }
                    });
                }else{
                    objNow=1;
                }
            }
        }
        function getDataID(){
            var list=$('.list');
            var arr=[];
            for(var i=0;i<list.length;i++){
                arr.push(list.eq(i).attr('data-id'));
            }
            return arr;
        }
        //返回答案的数组
        function getAnswer(){
            var answer = [];
            var list = $('.list' );
            var len = list.length;
            for(var i = 0;i < len ;i++){
                var checked = list.eq(i).find('input:checked');
                var len_a = checked.length;
                if(len_a === 0){
                    isAll = false;
                    answer.push(0);
                }else if(len_a === 1){
                    answer.push(checked.val())
                }else{
                    var it = [];
                    checked.each(function(){
                        it.push($(this).val());
                    });
                    answer.push(it)
                }
            }
            return answer;
        }
    });


    // nav
    $(".nav-header li:nth-of-type(4) a").addClass("active");
    $(".nav-header li").bind("mouseleave", function () {
        $(".nav-header li a").removeClass("active");
        $(".nav-header li:nth-of-type(4) a").addClass("active")
    });
</script>
{/block}
