{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/learn.css">
{/block}
{block name="body"}
{include file="public/header"}
<div class="container">
    <div class="content col-md-12 col-lg-12  col-sm-12 col-xs-12">
        <div class="col-md-3 col-lg-3  col-sm-3 col-xs-3">
            <div class="content_tab">
                <ul>
                    <li class="red"><a href="javascript:;"> <span>在线答题</span><span>  </span></a></li>
                </ul>
            </div>
            <div class="tab_img">
                <ul>
                    <li><a href="#"><img src="/home/images/ht.png" alt=""></a></li>
                    <li><a href="#"><img src="/home/images/ht.png" alt=""></a></li>
                    <li><a href="#"><img src="/home/images/ht.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-lg-9  col-sm-9 col-xs-9">
            <div class="content_title">
                <span>您的当前位置：</span>
                <a href="/home/index/index.html">首页</a>
                <span> > </span>
                <a href="/home/learn/goon.html">在线答题</a>
            </div>
            <div class="content_text">
                <div class="learn_title">党章党规全掌握</div>
                <div class="lists">
                    <div class="list">
                        <p class="list_title">1、在新的历史条件下，我们党面临着执政、改革开放、（）外部环境“四大考验”。</p>
                        <form>
                            <label>
                                <input type="radio" name="" value="1" style="width: 10px; height: 10px; border: 1px solid;">
                                <label class="option">A</label>
                                <span class="opt">商品经济</span>
                            </label>
                            <label for="">
                                <input type="radio" name="" value="2">
                                <label class="option">B</label>
                                <label class="opt">外部环境</label>
                            </label>
                            <label for="">
                                <input type="radio" name="" value="3">
                                <label class="option">C</label>
                                <label class="opt">市场经济</label>
                            </label>
                            <label for="">
                                <input type="radio" name="" value="4">
                                <label class="option">D</label>
                                <label class="opt">执政能力</label>
                            </label>
                        </form>
                    </div>
                    <div class="list">
                        <p class="list_title">2、在新的历史条件下，我们党面临着执政、改革开放、（）外部环境“四大考验”。</p>
                        <form>
                            <label>
                                <input type="radio" name="" value="1" style="width: 10px; height: 10px; border: 1px solid;">
                                <label class="option">A</label>
                                <span class="opt">商品经济</span>
                            </label>
                            <label for="">
                                <input type="radio" name="" value="2">
                                <label class="option">B</label>
                                <label class="opt">外部环境</label>
                            </label>
                            <label for="">
                                <input type="radio" name="" value="3">
                                <label class="option">C</label>
                                <label class="opt">市场经济</label>
                            </label>
                            <label for="">
                                <input type="radio" name="" value="4">
                                <label class="option">D</label>
                                <label class="opt">执政能力</label>
                            </label>
                        </form>
                    </div>
                    <div class="list">
                        <p class="list_title">3、在新的历史条件下，我们党面临着执政、改革开放、（）外部环境“四大考验”。</p>
                        <form>
                            <label>
                                <input type="radio" name="" value="1" style="width: 10px; height: 10px; border: 1px solid;">
                                <label class="option">A</label>
                                <span class="opt">商品经济</span>
                            </label>
                            <label for="">
                                <input type="radio" name="" value="2">
                                <label class="option">B</label>
                                <label class="opt">外部环境</label>
                            </label>
                            <label for="">
                                <input type="radio" name="" value="3">
                                <label class="option">C</label>
                                <label class="opt">市场经济</label>
                            </label>
                            <label for="">
                                <input type="radio" name="" value="4">
                                <label class="option">D</label>
                                <label class="opt">执政能力</label>
                            </label>
                        </form>
                    </div>
                    <div class="list">
                        <p class="list_title">4、在新的历史条件下，我们党面临着执政、改革开放、（）外部环境“四大考验”。</p>
                        <form>
                            <label>
                                <input type="radio" name="" value="1" style="width: 10px; height: 10px; border: 1px solid;">
                                <label class="option">A</label>
                                <span class="opt">商品经济</span>
                            </label>
                            <label for="">
                                <input type="radio" name="" value="2">
                                <label class="option">B</label>
                                <label class="opt">外部环境</label>
                            </label>
                            <label for="">
                                <input type="radio" name="" value="3">
                                <label class="option">C</label>
                                <label class="opt">市场经济</label>
                            </label>
                            <label for="">
                                <input type="radio" name="" value="4">
                                <label class="option">D</label>
                                <label class="opt">执政能力</label>
                            </label>
                        </form>
                    </div>
                </div>
                <div class="list_btn goon">确认提交</div>
                <div class="answer">
                    <p>正确答案</p>
                    <div><span>1、<span>C</span></span><span>2、<span>B</span></span><span>3、<span>A</span></span><span>4、<span>C</span></span><span>5、<span>D</span></span></div>
                    <p>本次得分</p>
                    <div><span><span>5</span>分</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    // nav
    $(".nav-header li:nth-of-type(3) a").addClass("active");
    $(".nav-header li").bind("mouseleave", function () {
        $(".nav-header li a").removeClass("active");
        $(".nav-header li:nth-of-type(3) a").addClass("active")
    });
</script>
{/block}
