{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/learn.css">
{/block}
{block name="body"}
{include file="public/header"}
<div class="container">
    <div class="banner col-md-12 col-lg-12  col-sm-12 col-xs-12">
        <img src="/home/images/slide2.png" alt="">
    </div>
    <div class="content col-md-12 col-lg-12  col-sm-12 col-xs-12">
        <div class="col-md-3 col-lg-3  col-sm-3 col-xs-3">
            <div class="content_tab">
                <ul>
                    <li class="red"><a href="javascript:;"><span>两学一做</span><span>  </span> </a></li>
                </ul>
            </div>
            <div class="tab_img">
                <ul>
                    <li><a href="/home/news/general.html"><img src="/home/images/zg.png" alt=""></a></li>
                    <li><a href="/home/learn/answer.html"><img src="/home/images/dt.png" alt=""></a></li>
                    <li><a href="/home/video/index.html"><img src="/home/images/qw.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-lg-9  col-sm-9 col-xs-9">
            <div class="content_title">
                <span>您的当前位置：</span>
                <a href="{:Url('Index/index')}">首页</a>
                <span> > </span>
                <a href="{:Url('Learn/index')}">两学一做</a>
            </div>
            <div class="learnLists">
                <p class="textTitle">两学一做</p>
                <div class="content_text text1">
                    <ul>
                        {volist name="list" id="vo" key="k"}
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText {eq name='$vo.class' value='2'}sxt{/eq}"><a href="{:Url('Learn/detail?id='.$vo['id'])}">{$vo.title}</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">{$vo.create_time|time_format='Y-m-d'}</span> ]
                                </span>
                                {eq name="k%4" value="0"}
                                ++++++++
                                {/eq}
                        </li>
                        {/volist}
                    </ul>
                </div>
                <!--分页-->
                <div id="page" class="page_div"></div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    // nav
    $(".nav-header li:nth-of-type(4) a").addClass("active");
    $(".nav-header li").bind("mouseleave", function () {
        $(".nav-header li a").removeClass("active");
        $(".nav-header li:nth-of-type(4) a").addClass("active")
    });
</script>
{/block}
