{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/newDetail.css">
{/block}
{block name="body"}
{include file="public/header"}
<div class="container">
    <div class="banner col-md-12 col-lg-12  col-sm-12 col-xs-12">
        <img src="/home/images/slide2.png" alt="">
    </div>
    <div class="content col-md-12 col-lg-12  col-sm-12 col-xs-12">
        <div class="col-md-3 col-lg-3  col-sm-3 col-xs-3">
            <div class="content_tab">
                <ul>
                    <li class="red"><a href="javascript:;"> <span>新闻聚焦</span><span>  </span></a></li>
                </ul>
            </div>
            <div class="tab_img">
                <ul>
                    <li><a href="#"><img src="/home/images/zg.png" alt=""></a></li>
                    <li><a href="#"><img src="/home/images/dt.png" alt=""></a></li>
                    <li><a href="#"><img src="/home/images/dt.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-1 col-lg-1  col-sm-1 col-xs-1"></div>
        <div class="col-md-8 col-lg-8  col-sm-8 col-xs-8">
            <div class="content_title col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <span>您的当前位置：</span>
                <a href="/home/index/index.html">首页</a>
                <span> > </span>
                <a href="/home/news/index.html">新闻聚焦</a>
                <span> > </span>
                <a href="detail.html">习近平：加快建立军民融合创新体系</a>
            </div>
            <div class="content_text">
                <div class="text_title">
                    <div class="title">习近平：加快建立军民融合创新体系</div>
                    <div class="zc clearfix"><span class="fl">省直机关工委</span><span class="fr time">2017-02-17</span></div>
                </div>
                <div class="contentText">
                    <div class="contentText_img">
                        <img src="/home/images/xdd.png" alt="">
                    </div>
                    <div class="text">
                        <p>在全党上下喜迎党的十九大胜利召开之际，2017年8月13日上午，中共中央总书记、国家主席、中央军委主席习近平同志专门抽出时间，以普通党员身份参加了所在党支部的专题组织生活会，与支部同志一起交流，并即席发表了重要讲话。这是三年来习近平总书记第3次参加所在支部的生活会。</p>
                        <p>这次支部专题组织生活会，是紧紧围绕推进“两学一做”学习教育常态化制度化，结合中办机关党委关于在迎接服务党的十九大工作中开好专题组织生活会的通知精神召开的。会上，支部同志逐个作了认真发言。习近平总书记充分肯定了大家的发言并亲切地说，我们的支部生活，已形成了惯例。“三会一课”制度是一个很好的制度，我们党在武装斗争时期就强调支部建在连上，从三湾改编，到古田会议，就开始政治建军，强调党的基层组织建设。对于“三会一课”制度，我们支部是认真执行的，从中央、从我本人做起，以上率下，要认真地做好这个事情。我们在座的每个人，都是一名普通的共产党员，在党内生活中是平等的。在党内平等地过组织生活，这是遵守党章、做一名合格共产党员的基本要求。</p>
                        <p>习近平总书记强调，当前，全党全国的重要任务就是确保党的十九大胜利召开，希望大家首先要搞好自身建设，在这个关键时期，要特别注意把自己的事情做好，用共产党员的标准严格要求自己，工作上不要有失误。大家都在重要的机要岗位上，各项工作务必做好、务必谨慎、务必成功，尽职守责，出色地完成好应该完成的任务。</p>
                    </div>
                </div>
            </div>
            <!--评论-->
            <div class="comment">
                <div class="comment_lists">
                    <div class="commentList clearfix">
                        <div class="comment_img fl"><img src="/home/images/grzx.png" alt=""></div>
                        <div class="comment_text fl">
                            <p class="comment_name">姓名</p>
                            <p class="comment_content">这里是评论内容</p>
                            <p class="time">2017/9/26 16:50</p>
                        </div>
                        <div class="isgood fr good"></div>
                    </div>
                </div>
            </div>
            <!--输入框-->
            <div class="bottom">
                <input type="text" placeholder="说说您的感想！">
                <div class="btn btn-danger" onclick="send()">发送</div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    $(".isgood").bind("click", function () {
        $(this).toggleClass("good_");
        $(this).css("animation","good_ 1s ease");
    });
    function send(e,type,id) {
        swal({
            title: '',
            text: '请输入您的评论！',
            type: 'input',
            showCancelButton: true,
            closeOnConfirm: false,
            cancelButtonText: "取消",
            confirmButtonText: "确定",
            animation: "slider-form-top"

        }, function(inputValue) {
            if (inputValue === false) return false;

            if (inputValue.length < 15) {
                swal.showInputError("评论字数不能少于15个字！");
                return false
            }

            if (inputValue.length > 300) {
                swal.showInputError("您输入的字超过了300！");
                return false
            }
            $.ajax({
                type: "post",
                url: "{:Url('Base/comment')}",
                data: {
                    type: type,
                    aid: id,
                    content: inputValue
                },
                beforeSend: function () {
                    swal({
                        title: ' ',
                        text: '评论提交中...',
                        showConfirmButton: false
                    });
                },
                success: function (msg) {
                    var data = msg.data;
                    var userid = "'" + data.create_user + "'";
                    var html = '';
                    html += '<div class="commentList clearfix">' +
                            '<div class="fl comment_img">' +
                            '<img src="' + data.header + '" alt="用户头像" class="user">' +
                            '</div>' +
                            '<div class="fl comment_text">' +
                            '<p class="comment_name">' + data.nickname + '</p>' +
                            '<p class="comment_content" >' + inputValue + '</p>' +
                            '<p class="time">' + data.time + '</p>' +
                            '</div>' +
                            '<div class="fr isgood good" onclick="isGood(this,0,' + data.id + ')">' + data.likes + '</div>' +
                            '</div>';
                    $('.lists').prepend(html);
                    inputValue = "";
                    var sum = $('.sum span');
                    sum.text(parseInt(sum.text()) + 1);
                    swal({
                        title: ' ',
                        text: '评论成功',
                        type: 'success',
                        confirmButtonText: '确定',
                        timer: 3000
                    });
                }
            });
        })
    }

    // nav
    $(".nav-header li:nth-of-type(2) a").addClass("active");
    $(".nav-header li").bind("mouseleave", function () {
        $(".nav-header li a").removeClass("active");
        $(".nav-header li:nth-of-type(2) a").addClass("active")
    });

</script>
{/block}
