{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/pioneer.css">
{/block}
{block name="body"}
{include file="public/header"}
<div class="container">
    <div class="col-md-12 col-lg-12  col-sm-12 col-xs-12 pioneer">
        <div class="content_title">
            <span>您的当前位置：</span>
            <a href="{:Url('Index/index')}">首页</a>
            <span> > </span>
            <a href="{:Url('Lead/index')}">党员风采</a>
        </div>
    </div>
    <div class="banner col-md-12 col-lg-12  col-sm-12 col-xs-12">
        <img src="/home/images/slide2.png" alt="">
    </div>
    <div class="content col-md-12 col-lg-12 col-xs-12">
        <div class="pioneerTitle">党员风采</div>
        <div class="col-md-1 col-lg-1 col-xs-1"></div>
        <div class="col-md-10 col-lg-10 col-xs-10 pioneerLists">
            <ul class="clearfix">
                {volist name="list" id="vo"}
                <li class=" list fl">
                    <div class="list_img"><img src="{$vo.front_cover|get_cover='path'}" alt=""></div>
                    <div class="list_content">
                        <p class="list_name">{$vo.name}</p>
                        <p class="list_js">{$vo.summary}</p>
                        <div class="list_text">{$vo.content}</div>
                    </div>
                </li>
                {/volist}
            </ul>
        </div>
        <div class="col-md-1 col-lg-1 col-xs-1"></div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    $(function () {
        // nav
        $(".nav-header li:nth-of-type(6) a").addClass("active");
        $(".nav-header li").bind("mouseleave", function () {
            $(".nav-header li a").removeClass("active");
            $(".nav-header li:nth-of-type(6) a").addClass("active")
        });
        
        
        $(".pioneerLists .list").on("mouseover", function () {
            $(".pioneerLists .list").removeClass("active");
            $(this).addClass("active");
            $(this).children(".list_content").children(".list_js").hide();
            $(this).children(".list_content").children(".list_text").show();
        }).on("mouseleave", function () {
            $(".pioneerLists .list").removeClass("active");
            $(this).children(".list_content").children(".list_js").show();
            $(this).children(".list_content").children(".list_text").hide();
        })
    })
</script>
{/block}
