<div class="header">
    <div class="container">
        <div class="logo col-md-6 col-sm-6 col-xs-6">
            <a href="/home/index/index.html">
                <img src="/home/images/logo.png" alt="">
            </a>
        </div>
        <div class="logo col-md-6 col-sm-6 col-xs-6">
            <div class="timeNow pull-right"></div>
        </div>
    </div>
</div>
<div class="nav">
    <div class="nav-header clearfix container">
        <ul>
            <li class="fl"><a href="/home/index/index.html">首页</a></li>
            <li class="fl"><a href="/home/news/index.html">新闻聚焦</a></li>
            <li class="fl"><a href="/home/topic/index.html">红色专题</a></li>
            <li class="fl"><a href="/home/learn/index.html">两学一做</a></li>
            <li class="fl"><a href="/home/build/index.html">支部建设</a></li>
            <li class="fl"><a href="/home/pioneer/index.html">党员风采</a></li>
            <li class="fl"><a href="/home/enshrined/index.html">红色珍藏</a></li>
            <li class="fl"><a href="/home/interest/index.html">趣味视频</a></li>
        </ul>
    </div>
</div>
