{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/index.css">
{/block}

{block name="body"}
{include file="public/header"}
<div class="container">
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 nowNew">
        <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9 nowLeft">
            <img src="/home/images/jyz.png" alt="党群加油站">
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 nowRight">
            <div class="now_title clearfix">
                <span class="pull-left"></span>
                <span class="pull-right">党史上的今天</span>
            </div>
            <div class="now_lists">
                <ul>
                    <li><a href="#">{$today.title}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 new">
        <div class="col-md-7 col-sm-7 col-lg-7 col-xs-7 newLeft">
            <ul class="list1">
                {volist name="news" id="n" key="k"}
                <li class="clearfix">
                    {eq name="k" value="1"}<span class="yw">要闻</span>{/eq}<a href="{:Url('News/detail?id='.$n['id'])}">{$n.title}</a>
                    <ul>
                        {volist name="n.son" id="s"}
                        <li class="fl">
                            <a href="{:Url('News/detail?id='.$s['id'])}">{$s.title}</a>
                        </li>
                        {/volist}
                    </ul>
                </li>
                {/volist}
            </ul>
        </div>
        <div class="col-md-5 col-sm-5 col-lg-5 col-xs-5 newRight">
            <div class="build_title clearfix">
                <span class="pull-left">支部建设</span>
                <span class="pull-right"><a href="{:Url('Branch/index')}">获得更多</a></span>
            </div>
            <div class="build_content">
                <div class="build_img clearfix">
                    <ul>
                        <li class="fl"><img src="/home/images/b1.jpg" alt=""></li>
                        <li class="fl"><img src="/home/images/b2.jpg" alt=""></li>
                    </ul>
                </div>
                <div class="build_text">
                    <ul>
                        {volist name="branch" id="bra"}
                        <li><a href="{:Url('Branch/detail?id='.$bra['id'])}">{$bra.title}</a></li>
                        {/volist}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 sliders">
        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                {volist name="special" id="spe" key="k"}
                <li data-target="#myCarousel" data-slide-to="{$k-1}" ></li>
                {/volist}
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                {volist name="special" id="spe"}
                <div class="item">
                    <a href="{:Url('Special/index?id='.$spe['id'])}"><img src="{$spe.front_cover|get_cover='path'}" alt="{$spe.title}"></a>
                </div>
                {/volist}
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="carousel-control left" href="#myCarousel"
               data-slide="prev"><img src="/home/images/left1.png" alt=""></a>
            <a class="carousel-control right" href="#myCarousel"
               data-slide="next"><img src="/home/images/right1.png" alt=""></a>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 learns">
        <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9 learnsLeft">
            <div class="learn">
                <div class="learn_title clearfix">
                    <span class="pull-left">两学一做</span>
                    <span class="pull-right"><a href="{:Url('Learn/index')}">获得更多</a></span>
                </div>
                <div class="learn_content">
                    <div>
                        <ul>
                            {volist name="learn" id="le"}
                            <li class="clearfix">
                                <div class="fl learnLeft">
                                    <img src="{$le.front_cover|get_cover='path'}" alt="">
                                </div>
                                <div class="fr learnRight">
                                    <a href="{:Url('Learn/detail?id='.$le['id'])}">
                                        <div class="learnTitle">{$le.title}</div>
                                        <div class="learnContent">
                                            <ul>
                                                <li>{$le.summary}</li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="redTopic col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <div class="movie col-md-4 col-sm-4 col-lg-4 col-xs-4">
                    <div class="movie_title clearfix">
                        <span class="pull-left">红色电影</span>
                        <span class="pull-right"><a href="{:Url('Redcollection/index?tag=1')}">获得更多</a></span>
                    </div>
                    <div class="movie_content clearfix">
                        <div class="imgs pull-left">
                            <ul>
                                {volist name="film" id="f"}
                                <li>
                                    <a href="{:Url('Redcollection/moviedetail?id='.$f['id'])}"><img src="{$f.front_cover|get_cover='path'}" alt="{$f.title}"></a>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                        <div class="name pull-right">
                            <ul>
                                {volist name="film" id="f"}
                                <li> <a href="{:Url('Redcollection/moviedetail?id='.$f['id'])}">{$f.title}</a></li>
                                {/volist}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="letter col-md-4 col-sm-4 col-lg-4 col-xs-4">
                    <div class="letter_title clearfix">
                        <span class="pull-left">红色文学</span>
                        <span class="pull-right"><a href="{:Url('Redcollection/index?tag=2')}">获得更多</a></span>
                    </div>
                    <div class="letter_content clearfix">
                        <div class="imgs pull-left">
                            <ul>
                                {volist name="book" id="b"}
                                <li>
                                    <a href="{:Url('Redcollection/bookdetail?id='.$b['id'])}"><img src="{$b.front_cover|get_cover='path'}" alt="{$b.title}"></a>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                        <div class="name pull-right">
                            <ul>
                                {volist name="book" id="b"}
                                <li> <a href="{:Url('Redcollection/bookdetail?id='.$b['id'])}">{$b.title}</a></li>
                                {/volist}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="song col-md-4 col-sm-4 col-lg-4 col-xs-4">
                    <div class="song_title clearfix">
                        <span class="pull-left">红色歌曲</span>
                        <span class="pull-right"><a href="{:Url('Redcollection/index?tag=3')}">获得更多</a></span>
                    </div>
                    <div class="song_content clearfix">
                        <ul>
                            {volist name="music" id="m"}
                            <li> <a href="{:Url('Redcollection/songdetail?id='.$m['id'])}">{$m.title}</a></li>
                            {/volist}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 learnsRight">
            <div class="pioneer">
                <div class="pioneer_title">党员风采</div>
                <div class="pioneer_content">
                    <ul>
                        {volist name="lead" id="leader"}
                        <li>
                            <a href="{:Url('Lead/index?id='.$leader['id'])}">
                                <div class="pioneer_img">
                                    <img src="{$leader.front_cover|get_cover='path'}" alt="">
                                </div>
                                <div class="pioneer_name">{$leader.name}</div>
                                <div class="pioneer_text"><p>{$leader.summary}</p></div>
                            </a>
                        </li>
                        {/volist}
                    </ul>
                    <div class="pioneer_btn">
                        <a href="{:Url('Lead/index')}">获得更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 interest">
        <div class="interest_title clearfix">
            <span class="pull-left">趣味视频</span>
            <span class="pull-right"><a href="{:Url('Video/index')}">获得更多</a></span>
        </div>
        <div class="interest_content clearfix">
            <ul>
                {volist name="video" id="vi"}
                <li class="fl">
                    <a href="{:Url('Video/detail?id='.$vi['id'])}">
                        <div class="interest_img"><img src="{$vi.front_cover|get_cover='path'}" alt=""></div>
                        <div class="interest_text">
                            {$vi.title}
                        </div>
                    </a>
                </li>
                {/volist}
            </ul>
        </div>
    </div>
    <div class="erweima">
        <p>欢迎关注之图微信订阅号</p>
        <ul>
            <li>
                <div class="img"><img src="/home/images/hm.jpg" alt=""></div>
                <div class="title">之图红盟</div>
            </li>
            <li>
                <div class="img"><img src="/home/images/kj.jpg" alt=""></div>
                <div class="title">之图科技</div>
            </li>
        </ul>
    </div>
</div>

{/block}

{block name="script"}
<script>
    /*var lr = parseInt($(".container").css("marginLeft"));
    if (lr >= 200) {
        $(".erweima").show()
    }else {
        $(".erweima").hide();
    }
    $(window).on("resize",function() {
        var lr = parseInt($(".container").css("marginLeft"));
        if (lr >= 200) {
            $(".erweima").show()
        }else {
            $(".erweima").hide();
        }
    });*/

    $(function () {
        // nav
        $(".nav-header li:first-of-type a").addClass("active");
        $(".nav-header li").bind("mouseleave", function () {
            $(".nav-header li a").removeClass("active");
            $(".nav-header li:first-of-type a").addClass("active")
        });

        // 自动轮播
        $(".carousel-inner .item:first-of-type").addClass("active");
        $(".carousel-indicators li:first-of-type").addClass("active");
        $('#myCarousel').on("mouseover", function () {
            $(".carousel-control").show();
        }).on("mouseleave", function () {
            $(".carousel-control").hide();
        });
        $('#myCarousel').carousel({
            interval: 2000,
            carouselIndicators: true
        });

        // 红色电影 红色文学 切换
        $(".movie_content .name li").on("mouseover", function () {
            $(".movie_content .imgs li").hide();
            $(".movie_content .imgs li").eq($(this).index()).show();
        });
        $(".letter_content .name li").on("mouseover", function () {
            $(".letter_content .imgs li").hide();
            $(".letter_content .imgs li").eq($(this).index()).show();
        })
    })
</script>
{/block}