{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/learn.css">
<style>
    .content_text {
        border-bottom: 0;
    }
</style>
{/block}
{block name="body"}
{include file="public/header"}
<div class="container">
    <div class="banner col-md-12 col-lg-12  col-sm-12 col-xs-12">
        <img src="/home/images/slide2.png" alt="">
    </div>
    <div class="content col-md-12 col-lg-12  col-sm-12 col-xs-12">
        <div class="col-md-3 col-lg-3  col-sm-3 col-xs-3">
            <div class="content_tab">
                <ul>
                    <li class="red"><a href="javascript:;"><span>每日一课</span><span> </span> </a></li>
                </ul>
            </div>
            <div class="tab_img">
                <ul>
                    <li><a href="/home/news/general.html"><img src="/home/images/zg.png" alt=""></a></li>
                    <li><a href="/home/lesson/answer.html"><img src="/home/images/dt.png" alt=""></a></li>
                    <li><a href="/home/video/index.html"><img src="/home/images/qw.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-lg-9  col-sm-9 col-xs-9">
            <div class="content_title">
                <span>您的当前位置：</span>
                <a href="/home/index/index.html">首页</a>
                <span> > </span>
                <a href="/home/learn/answer.html">每日一课</a>
            </div>
            <div class="learnLists">
                <p class="textTitle">每日一课</p>
                <div class="content_text">
                    <div class="learn_title">党章党规全掌握</div>
                    <div class="lists">
                        {volist name="question" id="vo" key="n"}
                        <div class="list" data-tab="{$vo.id}">
                            <p class="list_title">{$n}、{$vo.title}</p>
                            <form>
                                {volist name="vo->Option" id="value" key="k"}
                                <label>
                                    <input type="radio" name="" value="{$k}">
                                    <label class="option">{if condition="($k eq 1) AND ($value neq ' ')"}A{elseif condition="($k eq 2) AND ($value neq ' ')"}B{elseif condition="($k eq 3 )AND ($value neq ' ')"}C{elseif condition="($k eq 4 )AND ($value neq ' ')"/}D{/if}</label>
                                    <span class="opt">{$value|substr=###,'2'}</span>
                                </label>
                                {/volist}
                            </form>
                        </div>
                        {/volist}
                    </div>
                    <div class="list_btn">确认提交</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="suc">
    <div class="timer"></div>
    <div class="up">上传中...</div>
</div>
{/block}
{block name="script"}
<script>
    $(function () {
        $(".opt").on("click",function () {
            $(this).parents('form').children("label").children(".option").removeClass("active");
            $(this).prev().addClass("active");
            $(this).prev().prev("input").attr("checked","checked");
        });
        $("label").on("click",function () {
            $(this).parent("form").children("label").children(".option").removeClass("active");
            $(this).children(".option").toggleClass("active");
            $(this).prev("input").attr("checked","checked");
        });
        $(".list_btn").on("click", function () {
            $(this).addClass("active");
            submitAnswer();
         });
        //提交
        function submitAnswer(){
            var data = [];
            var isAll = true;
            $('.list').each(function(){
                var id = $(this ).attr('data-tab');
                var answer = $(this ).find("input[checked]").val();
                if (answer == undefined) {
                    answer = -1;
                    isAll = false;
                }
                data.push([id,answer]);
            });
            var up = $('.up');
            var suc = $('.suc');
            var timer = $('.timer');
            var objNow=null;
            if(isAll){
                $.ajax({
                    type:"post",
                    url: "{:Url('Lesson/commit')}",
                    data:{arr:data},
                    success:function(e){
                        suc.fadeIn();
                        setTimeout(function(){
                            objNow=null;
                            timer.fadeOut();
                            up.text('提交成功');
                            setTimeout(function(){
                                window.location.href= "/home/lesson/goon/id/"+e.url.id+".html";
                            },1000)
                        },2000);
                    }
                });
            }else{
                var msg = confirm('您未全部完成，是否确定提交');
                if(msg){
                    $.ajax({
                        type:"post",
                        url: "{:Url('Lesson/commit')}",
                        data:{arr: data},
                        success:function(e){
                            suc.fadeIn();
                            setTimeout(function(){
                                objNow=null;
                                timer.fadeOut();
                                up.text('提交成功');
                                setTimeout(function(){
                                    window.location.href= "/home/lesson/goon/id/"+e.url.id+".html";
                                },1000)
                            },2000);
                        }
                    });
                }else{
                    objNow=1;
                }
            }
        }
    });


    // nav
    $(".nav-header li:first-of-type a").addClass("active");
    $(".nav-header li").bind("mouseleave", function () {
        $(".nav-header li a").removeClass("active");
        $(".nav-header li:first-of-type a").addClass("active")
    });
</script>
{/block}
