{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/learn.css">
<style>
    .content_text {
        border-bottom: 0;
    }
    form {
        margin-bottom: 15px;
    }
</style>
{/block}
{block name="body"}
{include file="public/header"}
<div class="container">
    <div class="content col-md-12 col-lg-12  col-sm-12 col-xs-12">
        <div class="col-md-3 col-lg-3  col-sm-3 col-xs-3">
            <div class="content_tab">
                <ul>
                    <li class="red"><a href="/home/lesson/answer.html"> <span>每日一课</span><span>  </span></a></li>
                </ul>
            </div>
            <div class="tab_img">
                <ul>
                    <li><a href="/home/news/general.html"><img src="/home/images/zg.png" alt=""></a></li>
                    <li><a href="/home/lesson/answer.html"><img src="/home/images/dt.png" alt=""></a></li>
                    <li><a href="/home/video/index.html"><img src="/home/images/qw.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-lg-9  col-sm-9 col-xs-9">
            <div class="content_title">
                <span>您的当前位置：</span>
                <a href="/home/index/index.html">首页</a>
                <span> > </span>
                <a href="/home/lesson/answer.html">每日一课</a>
            </div>
            <div class="content_text">
                <div class="learn_title">党章党规全掌握</div>
                <div class="lists">
                    {volist name="question" id="vo" key="n"}
                    <div class="list" data-tab="{$vo.id}">
                        <p class="list_title">{$n}、{$vo.title}</p>
                        <form>
                            {volist name="vo->Option" id="value" key="k"}
                            <label>
                                <input type="radio" name="" value="{$k}">
                                <label class="option">{if condition="($k eq 1) AND ($value neq ' ')"}A{elseif condition="($k eq 2) AND ($value neq ' ')"}B{elseif condition="($k eq 3 )AND ($value neq ' ')"}C{elseif condition="($k eq 4 )AND ($value neq ' ')"/}D{/if}</label>
                                <span class="opt">{$value|substr=###,'2'}</span>
                            </label>
                            {/volist}
                        </form>
                        <p>正确答案：<span>{$vo->Right|implode=###,"&nbsp;&nbsp;&nbsp;"}</span></p>
                    </div>
                    {/volist}
                </div>
                <div class="list_btn goon">确认提交</div>
                <div class="answer">
                    <p>本次得分</p>
                    <div><span><span>{$score}</span>分</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>

    // 取消左侧父级事件发生
    $(".content_tab li a").on("click", function (e) {
        e.stopPropagation();
    });
    // nav
    $(".nav-header li:first-of-type a").addClass("active");
    $(".nav-header li").bind("mouseleave", function () {
        $(".nav-header li a").removeClass("active");
        $(".nav-header li:first-of-type a").addClass("active")
    });
</script>
{/block}
