{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/enshrined.css">
{/block}
{block name="body"}
{include file="public/header"}
<div class="container">
    <div class="content col-md-12 col-lg-12  col-sm-12 col-xs-12">
        <div class="col-md-3 col-lg-3  col-sm-3 col-xs-3">
            <div class="content_tab">
                <ul>
                    <li class="red"><a href="javascript:;"> <span>红色电影</span><span>  </span></a></li>
                    <li><a href="javascript:;"><span>红色书籍</span><span>  </span> </a></li>
                    <li><a href="javascript:;"> <span>红色音乐</span><span>  </span></a></li>
                </ul>
            </div>
            <div class="tab_img">
                <ul>
                    <li><a href="/home/news/general.html"><img src="/home/images/zg.png" alt=""></a></li>
                    <li><a href="/home/learn/answer.html"><img src="/home/images/dt.png" alt=""></a></li>
                    <li><a href="/home/learn/answer.html"><img src="/home/images/dt.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-1 col-lg-1  col-sm-1 col-xs-1"></div>
        <div class="col-md-8 col-lg-8  col-sm-8 col-xs-8">
            <div class="content_title">
                <span>您的当前位置：</span>
                <a href="/home/index/index.html">首页</a>
                <span> > </span>
                <a href="/home/redcollection/index.html">红色电影</a>
            </div>
            <div class="redLists">
                <p class="textTitle">红色电影</p>
                <div class="content_text text1 clearfix movieList">
                    <ul>
                        <li class="fl">
                            <a href="#">
                                <div class="movie_img"><img src="/home/images/movie1.jpg" alt=""></div>
                                <div class="movie_name">《闪闪的红星》</div>
                            </a>
                            <div class="movie_content">简介：《闪闪的红星》是根据李心田小说改编的电影</div>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="movie_img"><img src="/home/images/movie1.jpg" alt=""></div>
                                <div class="movie_name">《闪闪的红星》</div>
                            </a>
                            <div class="movie_content">简介：《闪闪的红星》是根据李心田小说改编的电影</div>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="movie_img"><img src="/home/images/movie1.jpg" alt=""></div>
                                <div class="movie_name">《闪闪的红星》</div>
                            </a>
                            <div class="movie_content">简介：《闪闪的红星》是根据李心田小说改编的电影</div>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="movie_img"><img src="/home/images/movie1.jpg" alt=""></div>
                                <div class="movie_name">《闪闪的红星》</div>
                            </a>
                            <div class="movie_content">简介：《闪闪的红星》是根据李心田小说改编的电影</div>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="movie_img"><img src="/home/images/movie1.jpg" alt=""></div>
                                <div class="movie_name">《闪闪的红星》</div>
                            </a>
                            <div class="movie_content">简介：《闪闪的红星》是根据李心田小说改编的电影</div>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="movie_img"><img src="/home/images/movie1.jpg" alt=""></div>
                                <div class="movie_name">《闪闪的红星》</div>
                            </a>
                            <div class="movie_content">简介：《闪闪的红星》是根据李心田小说改编的电影</div>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="movie_img"><img src="/home/images/movie1.jpg" alt=""></div>
                                <div class="movie_name">《闪闪的红星》</div>
                            </a>
                            <div class="movie_content">简介：《闪闪的红星》是根据李心田小说改编的电影</div>
                        </li>
                    </ul>
                </div>
                <div class="content_text text2 hidden bookList clearfix">
                    <ul>
                        <li class="fl">
                            <a href="#">
                                <div class="book_img"><img src="/home/images/book1.jpg" alt=""></div>
                                <div class="book_name">《闪闪的红星》</div>
                            </a>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="book_img"><img src="/home/images/book1.jpg" alt=""></div>
                                <div class="book_name">《闪闪的红星》</div>
                            </a>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="book_img"><img src="/home/images/book1.jpg" alt=""></div>
                                <div class="book_name">《闪闪的红星》</div>
                            </a>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="book_img"><img src="/home/images/book1.jpg" alt=""></div>
                                <div class="book_name">《闪闪的红星》</div>
                            </a>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="book_img"><img src="/home/images/book1.jpg" alt=""></div>
                                <div class="book_name">《闪闪的红星》</div>
                            </a>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="book_img"><img src="/home/images/book1.jpg" alt=""></div>
                                <div class="book_name">《闪闪的红星》</div>
                            </a>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="book_img"><img src="/home/images/book1.jpg" alt=""></div>
                                <div class="book_name">《闪闪的红星》</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="content_text text3 hidden">
                    <ul>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">一月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">关于参加三会一课的通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">之图全体员工参加党建活动</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">二月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                    </ul>
                    <ul>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">一月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">关于参加三会一课的通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">之图全体员工参加党建活动</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">二月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                    </ul>
                    <ul>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">一月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">关于参加三会一课的通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">之图全体员工参加党建活动</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">二月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                    </ul>
                </div>
                <!--分页-->
                <div id="page" class="page_div"></div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    // nav
    $(".nav-header li:nth-of-type(7) a").addClass("active");
    $(".nav-header li").bind("mouseleave", function () {
        $(".nav-header li a").removeClass("active");
        $(".nav-header li:nth-of-type(7) a").addClass("active")
    });

    // 首页指定跳转过来
    var c = window.location.href.split("index/tag/")[1];
    var c1 = c.split(".html")[0];
    $(".content_tab li").eq(c1-1).addClass("red").siblings("li").removeClass("red");
    $(".content_text").removeClass("hidden").hide();
    $(".content_text").eq(c1-1).show();
    var html = $(".content_tab li").eq(c1-1).children("a").children('span')[0].innerHTML;
    $(".textTitle").html(html);
    $(".content_title a:last-of-type").html(html);


</script>
{/block}
