{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/enshrined.css">
{/block}
{block name="body"}
{include file="public/header"}
<div class="container">
    <div class="banner col-md-12 col-lg-12  col-sm-12 col-xs-12">
        <img src="/home/images/redbanner.png" alt="">
    </div>
    <div class="content col-md-12 col-lg-12  col-sm-12 col-xs-12">
        <div class="col-md-3 col-lg-3  col-sm-3 col-xs-3">
            <div class="content_tab">
                <ul>
                    <li class="red"><a href="javascript:;"> <span>红色电影</span><span>  </span></a></li>
                    <li><a href="javascript:;"><span>红色书籍</span><span>  </span> </a></li>
                    <li><a href="javascript:;"> <span>红色音乐</span><span>  </span></a></li>
                </ul>
            </div>
            <div class="tab_img">
                <ul>
                    <li><a href="/home/news/general.html"><img src="/home/images/zg.png" alt=""></a></li>
                    <li><a href="{:Url('Lesson/answer')}"><img src="/home/images/dt.png" alt=""></a></li>
                    <li><a href="{:Url('Video/index')}"><img src="/home/images/qw.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-lg-9  col-sm-9 col-xs-9">
            <div class="content_title">
                <span>您的当前位置：</span>
                <a href="/home/index/index.html">首页</a>
                <span> > </span>
                <a href="/home/redcollection/index.html">红色电影</a>
            </div>
            <div class="redLists">
                <p class="textTitle">红色电影</p>
                <div class="content_text text1 clearfix movieList">
                    <ul>
                        <li class="fl">
                            <a href="#">
                                <div class="movie_img"><img src="/home/images/movie1.jpg" alt=""></div>
                                <div class="movie_name">《闪闪的红星》</div>
                            </a>
                            <div class="movie_content">简介：《闪闪的红星》是根据李心田小说改编的电影</div>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="movie_img"><img src="/home/images/movie1.jpg" alt=""></div>
                                <div class="movie_name">《闪闪的红星》</div>
                            </a>
                            <div class="movie_content">简介：《闪闪的红星》是根据李心田小说改编的电影</div>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="movie_img"><img src="/home/images/movie1.jpg" alt=""></div>
                                <div class="movie_name">《闪闪的红星》</div>
                            </a>
                            <div class="movie_content">简介：《闪闪的红星》是根据李心田小说改编的电影</div>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="movie_img"><img src="/home/images/movie1.jpg" alt=""></div>
                                <div class="movie_name">《闪闪的红星》</div>
                            </a>
                            <div class="movie_content">简介：《闪闪的红星》是根据李心田小说改编的电影</div>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="movie_img"><img src="/home/images/movie1.jpg" alt=""></div>
                                <div class="movie_name">《闪闪的红星》</div>
                            </a>
                            <div class="movie_content">简介：《闪闪的红星》是根据李心田小说改编的电影</div>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="movie_img"><img src="/home/images/movie1.jpg" alt=""></div>
                                <div class="movie_name">《闪闪的红星》</div>
                            </a>
                            <div class="movie_content">简介：《闪闪的红星》是根据李心田小说改编的电影</div>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="movie_img"><img src="/home/images/movie1.jpg" alt=""></div>
                                <div class="movie_name">《闪闪的红星》</div>
                            </a>
                            <div class="movie_content">简介：《闪闪的红星》是根据李心田小说改编的电影</div>
                        </li>
                    </ul>
                </div>
                <div class="content_text text2 hidden bookList clearfix">
                    <ul>
                        <li class="fl">
                            <a href="#">
                                <div class="book_img"><img src="/home/images/book1.jpg" alt=""></div>
                                <div class="book_name">《闪闪的红星》</div>
                            </a>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="book_img"><img src="/home/images/book1.jpg" alt=""></div>
                                <div class="book_name">《闪闪的红星》</div>
                            </a>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="book_img"><img src="/home/images/book1.jpg" alt=""></div>
                                <div class="book_name">《闪闪的红星》</div>
                            </a>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="book_img"><img src="/home/images/book1.jpg" alt=""></div>
                                <div class="book_name">《闪闪的红星》</div>
                            </a>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="book_img"><img src="/home/images/book1.jpg" alt=""></div>
                                <div class="book_name">《闪闪的红星》</div>
                            </a>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="book_img"><img src="/home/images/book1.jpg" alt=""></div>
                                <div class="book_name">《闪闪的红星》</div>
                            </a>
                        </li>
                        <li class="fl">
                            <a href="#">
                                <div class="book_img"><img src="/home/images/book1.jpg" alt=""></div>
                                <div class="book_name">《闪闪的红星》</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="content_text text3 hidden clearfix">
                    <div class="songLists">
                        <div class="list fl">
                            <a href="">
                                <div class="songImg"><img src="/home/images/song1.png" alt="\"></div>
                                <div class="songTitle">经典红歌</div>
                            </a>
                        </div>
                        <div class="list fl">
                            <a href="">
                                <div class="songImg"><img src="/home/images/song2.png" alt="\"></div>
                                <div class="songTitle">军人是一首歌、嘹亮且豪迈</div>
                            </a>
                        </div>
                        <p class="h1 fl"></p>
                        <div class="list fl">
                            <a href="">
                                <div class="songImg"><img src="/home/images/song3.png" alt="\"></div>
                                <div class="songTitle">唱首歌给我亲爱的祖国</div>
                            </a>
                        </div>
                        <div class="list fl">
                            <a href="">
                                <div class="songImg"><img src="/home/images/song4.png" alt="\"></div>
                                <div class="songTitle">在目前的怀抱下，每天都是好日子</div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- 分页-->
                <div id="page" class="page_div"></div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    // nav
    $(".nav-header li:nth-of-type(7) a").addClass("active");
    $(".nav-header li").bind("mouseleave", function () {
        $(".nav-header li a").removeClass("active");
        $(".nav-header li:nth-of-type(7) a").addClass("active")
    });

    // 歌曲
    $(".songList").bind("click", function () {
        $(".songList").children(".fx").removeClass('fx_');
        $(this).children(".fx").addClass("fx_");
        $(".list2").removeClass("hidden").hide();
        $(this).next(".list2").show();
        $(this).on("click", function (e) {
            e.preventDefault();
            $(this).next(".list2").toggle();
            $(this).children(".fx").toggleClass("fx_");
        })
    });

    // 首页指定跳转过来
    var c = window.location.href.split("index/type/")[1];
   if (c != undefined) {
       var c1 = c.split(".html")[0];
       $(".content_tab li").eq(c1-1).addClass("red").siblings("li").removeClass("red");
       $(".content_text").removeClass("hidden").hide();
       $(".content_text").eq(c1-1).show();
       var html = $(".content_tab li").eq(c1-1).children("a").children('span')[0].innerHTML;
       $(".textTitle").html(html);
       $(".content_title a:last-of-type").html(html);
   }

    pag(0,1,7,0);
    function pag(b,id,total,a) {
        if (total == 0) {
            $("#page").hide();
        }else {
            $("#page").show();
        }
        // 向上取整
        var page = Math.ceil(total / 12);
        $("#page").paging({
            pageNo:1,
            totalPage: page,
            totalSize: 300,
            callback: function(num) {
                $.ajax({
                    type: "post",
                    url: "{:Url('Branch/index')}",
                    data: {
                        p: num,
                        type: id
                    },
                    success: function (date) {
                        $(".content_text").eq(a).find("li").remove();
                        $(".content_text").eq(a).find("p").remove();
                        var data = date.data;
                        var html = "";
                        var t = 11;
                        if (data.length <= 11) {
                            t = data.length - 1;
                        }
                        for (var i = 0; i <= t; i++) {
                            if (a == 0) {
                                html = '<li class="clearfix">'
                                        +'<span class="fl">'
                                        +'<span class="circle"></span>'
                                        +'<span class="contentText"><a href="'
                                        +"/home/branch/detail/id/"
                                        +data[i].id
                                        +'.html">'
                                        +data[i].title
                                        +'</a></span>'
                                        +'</span>'
                                        +'<span class="fr">'
                                        +'[ <span class="time">'
                                        +data[i].time
                                        +'</span> ]'
                                        +'</span>'
                                        +'</li>';
                                if (data[i].class == 2) {
                                    html = '<li class="clearfix">'
                                            +'<span class="fl">'
                                            +'<span class="circle"></span>'
                                            +'<span class="contentText sxt"><a href="'
                                            +"/home/branch/detail/id/"
                                            +data[i].id
                                            +'.html">'
                                            +data[i].title
                                            +'</a></span>'
                                            +'</span>'
                                            +'<span class="fr">'
                                            +'[ <span class="time">'
                                            +data[i].time
                                            +'</span> ]'
                                            +'</span>'
                                            +'</li>';
                                }
                                if ((i + 1) % 4 == 0) {
                                    html += '<p class="h16"></p>';
                                }
                            }
                            else if (a == 1) {
                                html = '<li class="clearfix">'
                                        +'<span class="fl">'
                                        +'<span class="circle"></span>'
                                        +'<span class="contentText"><a href="'
                                        +"/home/branch/detail/id/"
                                        +data[i].id
                                        +'.html">'
                                        +data[i].title
                                        +'</a></span>'
                                        +'</span>'
                                        +'<span class="fr">'
                                        +'[ <span class="time">'
                                        +data[i].time
                                        +'</span> ]'
                                        +'</span>'
                                        +'</li>';
                                if (data[i].class == 2) {
                                    html = '<li class="clearfix">'
                                            +'<span class="fl">'
                                            +'<span class="circle"></span>'
                                            +'<span class="contentText sxt"><a href="'
                                            +"/home/branch/detail/id/"
                                            +data[i].id
                                            +'.html">'
                                            +data[i].title
                                            +'</a></span>'
                                            +'</span>'
                                            +'<span class="fr">'
                                            +'[ <span class="time">'
                                            +data[i].time
                                            +'</span> ]'
                                            +'</span>'
                                            +'</li>';
                                }
                                if ((i + 1) % 4 == 0) {
                                    html += '<p class="h16"></p>';
                                }
                            }
                            else if (a == 2) {
                                html = '<li class="clearfix">'
                                        +'<span class="fl">'
                                        +'<span class="circle"></span>'
                                        +'<span class="contentText"><a href="'
                                        +"/home/branch/detail/id/"
                                        +data[i].id
                                        +'.html">'
                                        +data[i].title
                                        +'</a></span>'
                                        +'</span>'
                                        +'<span class="fr">'
                                        +'[ <span class="time">'
                                        +data[i].time
                                        +'</span> ]'
                                        +'</span>'
                                        +'</li>';
                                if (data[i].class == 2) {
                                    html = '<li class="clearfix">'
                                            +'<span class="fl">'
                                            +'<span class="circle"></span>'
                                            +'<span class="contentText sxt"><a href="'
                                            +"/home/branch/detail/id/"
                                            +data[i].id
                                            +'.html">'
                                            +data[i].title
                                            +'</a></span>'
                                            +'</span>'
                                            +'<span class="fr">'
                                            +'[ <span class="time">'
                                            +data[i].time
                                            +'</span> ]'
                                            +'</span>'
                                            +'</li>';
                                }
                                if ((i + 1) % 4 == 0) {
                                    html += '<p class="h16"></p>';
                                }
                            }

                            $(".content_text").eq(a).find("ul").append(html);
                        }
                    }
                })
            }
        });
    }

</script>
{/block}
