{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/enshrined.css">
{/block}
{block name="body"}
{include file="public/header"}
<div class="container">
    <div class="banner col-md-12 col-lg-12  col-sm-12 col-xs-12">
        <img src="/home/images/redbanner.png" alt="">
    </div>
    <div class="content col-md-12 col-lg-12  col-sm-12 col-xs-12">
        <div class="col-md-3 col-lg-3  col-sm-3 col-xs-3">
            <div class="content_tab">
                <ul>
                    <li class="red"><a href="javascript:;"> <span>红色电影</span><span>  </span></a></li>
                    <li><a href="javascript:;"><span>红色书籍</span><span>  </span> </a></li>
                    <li><a href="javascript:;"> <span>红色音乐</span><span>  </span></a></li>
                </ul>
            </div>
            <div class="tab_img">
                <ul>
                    <li><a href="/home/news/general.html"><img src="/home/images/zg.png" alt=""></a></li>
                    <li><a href="{:Url('Lesson/answer')}"><img src="/home/images/dt.png" alt=""></a></li>
                    <li><a href="{:Url('Video/index')}"><img src="/home/images/qw.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-lg-9  col-sm-9 col-xs-9">
            <div class="content_title">
                <span>您的当前位置：</span>
                <a href="{:Url('Index/index')}">首页</a>
                <span> > </span>
                <a href="javascript:;">红色电影</a>
            </div>
            <div class="redLists">
                <p class="textTitle">红色电影</p>
                <div class="content_text text1 clearfix movieList">
                    <ul>
                        {volist name="list.one" id="one"}
                        <li class="fl">
                            <a href="{:Url('Redcollection/moviedetail?id='.$one['id'])}">
                                <div class="movie_img"><img src="{$one.front_cover|get_cover='path'}" alt=""></div>
                                <div class="movie_name">{$one.title}</div>
                            </a>
                            <div class="movie_content"><span>简介：{$one.introduction}</span></div>
                        </li>
                        {/volist}
                    </ul>
                </div>
                <div class="content_text text2 hidden bookList clearfix">
                    <ul>
                        {volist name="list.two" id="two"}
                        <li class="fl">
                            <a href="{:Url('Redcollection/bookdetail?id='.$two['id'])}">
                                <div class="book_img"><img src="{$two.front_cover|get_cover='path'}" alt=""></div>
                                <div class="book_name">{$two.title}</div>
                            </a>
                        </li>
                        {/volist}
                    </ul>
                </div>
                <div class="content_text text3 hidden clearfix">
                    <div class="songLists">
                        <ul>
                            {volist name="list.three" id="three"  key="k"}
                            <li class="list fl">
                                <a href="{:Url('Redcollection/songdetail?id='.$three['id'])}">
                                    <div class="songImg"><img src="{$three.front_cover|get_cover='path'}" alt=""></div>
                                    <div class="songTitle">{$three.title}</div>
                                </a>
                            </li>
                            {eq name="k%2" value="0"}
                            <p class="h1 fl"></p>
                            {/eq}
                            {/volist}
                        </ul>
                    </div>
                </div>
                <!-- 分页-->
                <div id="page" class="page_div"></div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    // nav
    $(".nav-header li:nth-of-type(7) a").addClass("active");
    $(".nav-header li").bind("mouseleave", function () {
        $(".nav-header li a").removeClass("active");
        $(".nav-header li:nth-of-type(7) a").addClass("active")
    });

    // 歌曲
    $(".songList").bind("click", function () {
        $(".songList").children(".fx").removeClass('fx_');
        $(this).children(".fx").addClass("fx_");
        $(".list2").removeClass("hidden").hide();
        $(this).next(".list2").show();
        $(this).on("click", function (e) {
            e.preventDefault();
            $(this).next(".list2").toggle();
            $(this).children(".fx").toggleClass("fx_");
        })
    });


    $(".content_tab li").on("click", function (e) {
        $(this).addClass("red").siblings("li").removeClass("red");
        $(".content_text").hide();

        var index = $(this).index();
        $(".content_text").eq(index).show();

        var html = $(this).children("a").children('span')[0].innerHTML;
        $(".textTitle").html(html);
        $(".content_title a:last-of-type").html(html);
        var type =  index + 1;
        var total;
        if (index == 0) {
            total = {$list.t1};
        }else if (index == 1) {
            total = {$list.t2};
        }else {
            total = {$list.t3};
        }
        $.ajax({
            type: "post",
            url: "{:Url('Redcollection/index')}",
            data: {
                p: 1,
                type: type
            },
            success: function (date) {
                $(".content_text").eq(index).find("li").remove();
                $(".content_text").eq(index).find("p").remove();
                var data = date.data;
                var html = "";
                var t = 11;
                if (data.length <= 11) {
                    t = data.length - 1;
                }
                for (var i = 0; i <= t; i++) {
                    if (index == 0) {
                        html = '<li class="fl">'
                                +'<a href="/home/redcollection/moviedetail/id/'
                                +data[i].id
                                +'.html">'
                                +'<div class="movie_img"><img src="'
                                +data[i].net_path
                                +'" alt=""></div>'
                                +'<div class="movie_name">'
                                +data[i].title
                                +'</div>'
                                +'</a>'
                                +'<div class="movie_content"><span>简介：'
                                +data[i].introduction
                                +'</span></div>'
                                +'</li>';
                    }
                    else if (index == 1) {
                        html = '<li class="fl">'
                                +'<a href="/home/redcollection/bookdetail/id/'
                                +data[i].id
                                +'.html">'
                                +'<div class="book_img"><img src="'
                                +data[i].net_path
                                +'" alt=""></div>'
                                +'<div class="book_name">'
                                +data[i].title
                                +'</div>'
                                +'</a>'
                                +'</li>';
                    }
                    else if (index == 2) {
                        html = '<li class="list fl">'
                                +'<a href="/home/redcollection/songdetail/id/'
                                +data[i].id
                                +'.html">'
                                +'<div class="songImg"><img src="'
                                +data[i].path
                                +'" alt=""></div>'
                                +'<div class="songTitle">'
                                +data[i].title
                                +'</div>'
                                +'</a>'
                                +'</li>';

                            if ((i + 1) % 2 == 0) {
                                html += '<p class="h1 fl"></p>';
                            }
                    }

                    $(".content_text").eq(index).find("ul").append(html);
                }
            }
        });
        pag(0,type,total,index);
        return false;
    });

    $(".content_tab li").eq(0).click();

    function pag(b,id,total,a) {
        if (total == 0) {
            $("#page").hide();
        }else {
            $("#page").show();
        }
        // 向上取整
        var page = Math.ceil(total / 12);
        $("#page").paging({
            pageNo:1,
            totalPage: page,
            totalSize: 300,
            callback: function(num) {
                $.ajax({
                    type: "post",
                    url: "{:Url('Redcollection/index')}",
                    data: {
                        p: num,
                        type: id
                    },
                    success: function (date) {
                        $(".content_text").eq(a).find("li").remove();
                        $(".content_text").eq(a).find("p").remove();
                        var data = date.data;
                        var html = "";
                        var t = 11;
                        if (data.length <= 11) {
                            t = data.length - 1;
                        }
                        for (var i = 0; i <= t; i++) {
                            if (a == 0) {
                                html = '<li class="fl">'
                                        +'<a href="/home/redcollection/moviedetail/id/'
                                        +data[i].id
                                        +'.html">'
                                        +'<div class="movie_img"><img src="'
                                        +data[i].net_path
                                        +'" alt=""></div>'
                                        +'<div class="movie_name">'
                                        +data[i].title
                                        +'</div>'
                                        +'</a>'
                                        +'<div class="movie_content"><span>简介：'
                                        +data[i].introduction
                                        +'</span></div>'
                                        +'</li>';
                            }
                            else if (a == 1) {
                                html = '<li class="fl">'
                                        +'<a href="/home/redcollection/bookdetail/id/'
                                        +data[i].id
                                        +'.html">'
                                        +'<div class="book_img"><img src="'
                                        +data[i].net_path
                                        +'" alt=""></div>'
                                        +'<div class="book_name">'
                                        +data[i].title
                                        +'</div>'
                                        +'</a>'
                                        +'</li>';
                            }
                            else if (a == 2) {
                                html = '<li class="list fl">'
                                        +'<a href="/home/redcollection/songdetail/id/'
                                        +data[i].id
                                        +'.html">'
                                        +'<div class="songImg"><img src="'
                                        +data[i].path
                                        +'" alt=""></div>'
                                        +'<div class="songTitle">'
                                        +data[i].title
                                        +'</div>'
                                        +'</a>'
                                        +'</li>';

                                if ((i + 1) % 2 == 0) {
                                    html += '<p class="h1 fl"></p>';
                                }
                            }

                            $(".content_text").eq(a).find("ul").append(html);
                        }
                    }
                })
            }
        });
    }

    // 首页指定跳转过来
    var c = window.location.href.split("index/type/")[1];
    if (c != undefined) {
        var c1 = c.split(".html")[0];
        $(".content_tab li").eq(c1-1).addClass("red").siblings("li").removeClass("red");
         $(".content_text").removeClass("hidden").hide();
         $(".content_text").eq(c1-1).show();
         var html = $(".content_tab li").eq(c1-1).children("a").children('span')[0].innerHTML;
         $(".textTitle").html(html);
         $(".content_title a:last-of-type").html(html);
    }

</script>
{/block}
