{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/contact.css">
{/block}
{block name="body"}
{include file="public/header"}
<div class="container">
    <div class="content_title col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <span class="glyphicon glyphicon-home"></span>
        <span>您的当前位置：</span>
        <a href="/home/index/index.html">首页</a>
        <span> > </span>
        <a href="/home/contact/index.html">联系我们</a>
    </div>
    <div class="content col-md-12 col-lg-12  col-sm-12 col-xs-12">
        <div class="col-md-3 col-lg-3  col-sm-3 col-xs-3">
            <div class="content_tab">
                <ul>
                    <li class="red"><a href="javascript:;"><span>  </span> <span>联系我们</span></a></li>
                </ul>
            </div>
            <div class="tab_img">
                <ul>
                    <li><a href="/home/news/general.html"><img src="/home/images/zg.png" alt=""></a></li>
                    <li><a href="/home/learn/answer.html"><img src="/home/images/dt.png" alt=""></a></li>
                    <li><a href="/home/learn/answer.html"><img src="/home/images/dt.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-1 col-lg-1  col-sm-1 col-xs-1"></div>
        <div class="col-md-8 col-lg-8  col-sm-8 col-xs-8">
            <div class="content_text">
                <div class="about_us">
                    <p class="title">关于我们：</p>
                    <div class="about_content">
                        <p>之图党建网是浙江省杭州之图网络科技有限公司党员干部现代远程教育工作门户网站，由杭州之图党支部主办，杭州之图网络科技有限公司承建，英文域名：http:www.hzztdj.com。</p>
                        <p>之图党建网于2017年1月1日正式开通运行，历经多次改版升级。网站开设党建信息、干部队伍、组织建设、人才工作、干部教育、干部监督等10大板块50多个栏目。发布权威党建资讯、专业政策解读，具有在线点播、在线答疑、互动留言等功能。</p>
                        <p>目前，之图党建网已成为全市党员干部群众学习、交流的重要阵地，在提高党员干部素质、加强基层组织建设、服务广大群众等方面发挥积极作用，真正做到“让党员干部经常受教育，使人民群众长期实惠”。</p>
                    </div>
                </div>
                <div class="contact">
                    <p class="title">联系我们：</p>
                    <div class="contact_content">
                        <p>使用中有遇到任何问题都可以向我们反馈哦，同时我们也很期待与您共建。</p>
                        <p>联系电话：0571-88650270</p>
                        <p>QQ：504501512</p>
                        <p>邮箱：504501512@qq.com</p>
                        <p>在线时间：9:00-17:30</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    // nav
    $(".nav-header li:nth-of-type(2) a").addClass("active");
    $(".nav-header li").bind("mouseleave", function () {
        $(".nav-header li a").removeClass("active");
        $(".nav-header li:nth-of-type(2) a").addClass("active")
    });
</script>
{/block}
