{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/contact.css">
{/block}
{block name="body"}
<div class="contact_header">
    <div class="container">
        <img src="/home/images/logo1.png" alt="">
        <div class="dimg">
            <img src="/home/images/contact_1.png" alt="">
        </div>
    </div>
</div>
<div class="container">
    <div class="content">
        <div class="img"><img src="/home/images/contact_banner.png" alt=""></div>
        <div class="lists">
            <div class="list">
                <p class="title">关于我们</p>
                <p>之图红网是由杭州之图网络科技有限公司创办的以提供党建资讯为主的大型门户网站，致力于成为国内优质的党建内容提供者。之图红网的主要栏目包括：新闻聚焦、红色专题、两学一做、支部建设、先锋引领、红色珍藏和趣味视频等等。</p>
                <p>杭州之图网络科技有限公司成立于2015年1月，位于杭州未来科技城（海创园），是国家高新技术企业、浙江省科技型中小企业，公司现有7家分公司。</p>
                <p>公司以政府/行业+互联网应用为方向，以“党建+”为引领，以智慧党建为突破，以智慧政务为重点，通过集成云计算、大数据、移动应用、GIS、区块链、三维、AR/VR等技术应用为各行业用户提供先进的综合解决方案，旨在成为国内优秀的智慧城市技术、内容和服务提供商。</p>
            </div>
            <div class="list hidden">
                <p class="title">友情链接</p>
                <p><a href="http://www.0571ztnet.com/">之图科技官网</a></p>
                <p><a href="http://www.cpnet.org.cn/">中国党刊网官网</a></p>
            </div>
            <div class="list hidden">
                <p class="title">版权申明</p>
                <p>之图红网所有版面设计、文字、图案及其他相关素材和作品的著作权归之图红网或其他相关合法权利人所有，未经本网授权不得转载、复制、修改、传播、出版或发行。如未经许可、擅自使用上述相关素材或作品，侵犯本网的合法权益，本网将依法追究相关方法律责任。</p>
                <p>对于转发之图红网不拥有版权、且版权拥有者亦未声明禁止转发的作品，并不意味之图红网赞同其观点或认可其内容的真实性。网络转载请注明作者、出处并保持完整。</p>
                <p>之图红网充分尊重作者的知识产权，转载自其他媒体的作品仅供学习研讨与内部交流，限于作者众多、地址不明等因素，可能无法保证与全部作者及时取得联系。如您对之图红网的转载有异议，请及时与之图红网沟通。</p>
            </div>
            <div class="list hidden">
                <p class="title">联系我们</p>
                <p>邮编：311121</p>
                <p>电话：400-900-9710 </p>
                <p>投稿邮箱：zthw@0571ztnet.com</p>
                <p>服务邮箱：service@0571ztnet.com </p>
                <p>地址：杭州市余杭区文一西路1338号海创大厦A座8楼</p>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    // 首页指定跳转过来
    var c = window.location.href.split("#")[1];
    if (c != undefined) {
        $(".list").removeClass("hidden");
        $(".list").eq(c-1).show().siblings(".list").hide();
    }

    // 底部跳转
    $("footer p a").on("click", function () {
        console.log($(this).index()/2);
        var c1 = $(this).index() / 2;
        $(".list").removeClass("hidden");
        $(".list").eq(c1).show().siblings(".list").hide();
    });
   
</script>
{/block}
