{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/interest.css">
{/block}
{block name="body"}
{include file="public/header"}
<div class="container">
    <div class="content_title col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <span class="glyphicon glyphicon-home"></span>
        <span>您的当前位置：</span>
        <a href="/home/index/index.html">首页</a>
        <span> > </span>
        <a href="/home/interest/index.html">基层党建</a>
    </div>
    <div class="content col-md-12 col-lg-12  col-sm-12 col-xs-12">
        <div class="col-md-3 col-lg-3  col-sm-3 col-xs-3">
            <div class="content_tab">
                <ul>
                    <li class="red"><a href="javascript:;"><span>  </span> <span>基层党建</span></a></li>
                    <li><a href="javascript:;"><span>  </span> <span>组织建设</span></a></li>
                </ul>
            </div>
            <div class="tab_img">
                <ul>
                    <li><img src="/home/images/zg.png" alt=""></li>
                    <li><img src="/home/images/dt.png" alt=""></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-lg-9  col-sm-9 col-xs-9">
            <div class="content_text text1">
                <ul>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText sxt"><a href="javascript:;">一月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">关于参加三会一课的通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">之图全体员工参加党建活动</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">二月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                </ul>
                <ul>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText sxt"><a href="javascript:;">一月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">关于参加三会一课的通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">之图全体员工参加党建活动</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">二月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                </ul>
                <ul>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">一月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">关于参加三会一课的通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">之图全体员工参加党建活动</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">二月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                </ul>
            </div>
            <div class="content_text text2 hidden">
                <ul>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText sxt"><a href="javascript:;">一月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">关于参加三会一课的通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">之图全体员工参加党建活动</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">二月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                </ul>
                <ul>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText sxt"><a href="javascript:;">一月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">关于参加三会一课的通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">之图全体员工参加党建活动</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">二月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                </ul>
                <ul>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">一月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">关于参加三会一课的通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">之图全体员工参加党建活动</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                    <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">二月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                    </li>
                </ul>
            </div>
            <!--分页-->
            <div id="page" class="page_div"></div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    // nav
    $(".nav-header li:last-of-type a").addClass("active");
    $(".nav-header li").bind("mouseleave", function () {
        $(".nav-header li a").removeClass("active");
        $(".nav-header li:last-of-type a").addClass("active")
    });
</script>
{/block}
