{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/interest.css">
{/block}
{block name="body"}
{include file="public/header"}
<div class="container">
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            {volist name="list.top" id="top" key="k"}
            <li data-target="#myCarousel" data-slide-to="{$k-1}" >{$top.title}</li>
            {/volist}
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            {volist name="list.top" id="top"}
            <div class="item">
                <a href="{:Url('Video/detail?id='.$top['id'])}"><img src="{$top.front_cover|get_cover='path'}" alt=""></a>
            </div>
            {/volist}
        </div>
    </div>
    <div class="video_">每周更新，看不停</div>
    <div class="videoList">
        <div class="video_title clearfix"><span class="fl">原创视频</span><span class="fr" onclick="change(this,1)"><a href="#">换一批</a></span></div>
        <div class="lists clearfix">
            <ul>
                {volist name="list.one" id="one"}
                <li class="fl">
                    <a href="{:Url('Video/detail?id='.$one['id'])}">
                        <div class="video_img"><img src="{$one.front_cover|get_cover='path'}" alt=""></div>
                        <div class="video_name">{$one['title']}</div>
                        <div class="video_time">更新时间：{$one['create_time']|time_format='Y-m-d'}</div>
                    </a>
                </li>
                {/volist}
            </ul>
        </div>
        <div class="video_title clearfix"><span class="fl">转载视频</span><span class="fr" onclick="change(this,2)"><a href="#">换一批</a></span></div>
        <div class="lists clearfix">
            <ul>
                {volist name="list.two" id="two"}
                <li class="fl">
                    <a href="{:Url('Video/detail?id='.$two['id'])}">
                        <div class="video_img"><img src="{$two.front_cover|get_cover='path'}" alt=""></div>
                        <div class="video_name">{$two['title']}</div>
                        <div class="video_time">更新时间：{$two['create_time']|time_format='Y-m-d'}</div>
                    </a>
                </li>
                {/volist}
            </ul>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    // nav
    $(".nav-header li:last-of-type a").addClass("active");
    $(".nav-header li").bind("mouseleave", function () {
        $(".nav-header li a").removeClass("active");
        $(".nav-header li:last-of-type a").addClass("active")
    });

    // 自动轮播
    $(".carousel-inner .item:first-of-type").addClass("active");
    $(".carousel-indicators li:first-of-type").addClass("active");
    $('#myCarousel').on("mouseover", function () {
        $(".carousel-control").show();
    }).on("mouseleave", function () {
        $(".carousel-control").hide();
    });
    $('#myCarousel').carousel({
        interval: 2000,
        carouselIndicators: true
    });
    $(".carousel-indicators li").on("mouseover", function () {
        $("#myCarousel").carousel($(this).index());
    });

    // 换一批
    var n = 1;
    var change = function (e,type) {
        $.ajax({
            type: "post",
            url: "{:Url('Video/more')}",
            data: {
                type: type,
                n : n
            },
            success: function (date) {
                if (date.code == 1) {
                    n++;
                }else {
                    n = 0;
                }
            }
        })
    }

</script>
{/block}
