{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/interest.css">
{/block}
{block name="body"}
{include file="public/header"}
<div class="container">
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active" >之图党建一体机</li>
            <li data-target="#myCarousel" data-slide-to="1" >之图党建1</li>
            <li data-target="#myCarousel" data-slide-to="2" >之图党建2</li>
            <li data-target="#myCarousel" data-slide-to="3" >之图党建3</li>
            <li data-target="#myCarousel" data-slide-to="4" >之图党建4</li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <a href="#"><img src="/home/images/b2.jpg" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="/home/images/b1.jpg" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="/home/images/b2.jpg" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="/home/images/b1.jpg" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="/home/images/b2.jpg" alt=""></a>
            </div>
        </div>
    </div>
    <div class="video_">每周更新，看不停</div>
    <div class="videoList">
        <div class="video_title clearfix"><span class="fl">原创视频</span><span class="fr"><a href="#">换一批</a></span></div>
        <div class="lists clearfix">
            <ul>
                <li class="fl">
                    <a href="#">
                        <div class="video_img"><img src="/home/images/movie1.jpg" alt=""></div>
                        <div class="video_name">之图科技一体机</div>
                        <div class="video_time">更新时间：2017-09-30</div>
                    </a>
                </li>
                <li class="fl">
                    <a href="#">
                        <div class="video_img"><img src="/home/images/movie1.jpg" alt=""></div>
                        <div class="video_name">之图科技一体机</div>
                        <div class="video_time">更新时间：2017-09-30</div>
                    </a>
                </li>
                <li class="fl">
                    <a href="#">
                        <div class="video_img"><img src="/home/images/movie1.jpg" alt=""></div>
                        <div class="video_name">之图科技一体机</div>
                        <div class="video_time">更新时间：2017-09-30</div>
                    </a>
                </li>
                <li class="fl">
                    <a href="#">
                        <div class="video_img"><img src="/home/images/movie1.jpg" alt=""></div>
                        <div class="video_name">之图科技一体机</div>
                        <div class="video_time">更新时间：2017-09-30</div>
                    </a>
                </li>
                <li class="fl">
                    <a href="#">
                        <div class="video_img"><img src="/home/images/movie1.jpg" alt=""></div>
                        <div class="video_name">之图科技一体机</div>
                        <div class="video_time">更新时间：2017-09-30</div>
                    </a>
                </li>
                <li class="fl">
                    <a href="#">
                        <div class="video_img"><img src="/home/images/movie1.jpg" alt=""></div>
                        <div class="video_name">之图科技一体机</div>
                        <div class="video_time">更新时间：2017-09-30</div>
                    </a>
                </li>
                <li class="fl">
                    <a href="#">
                        <div class="video_img"><img src="/home/images/movie1.jpg" alt=""></div>
                        <div class="video_name">之图科技一体机</div>
                        <div class="video_time">更新时间：2017-09-30</div>
                    </a>
                </li>
                <li class="fl">
                    <a href="#">
                        <div class="video_img"><img src="/home/images/movie1.jpg" alt=""></div>
                        <div class="video_name">之图科技一体机</div>
                        <div class="video_time">更新时间：2017-09-30</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="video_title clearfix"><span class="fl">转载视频</span><span class="fr"><a href="#">换一批</a></span></div>
        <div class="lists clearfix">
            <ul>
                <li class="fl">
                    <a href="#">
                        <div class="video_img"><img src="/home/images/movie1.jpg" alt=""></div>
                        <div class="video_name">之图科技一体机</div>
                        <div class="video_time">更新时间：2017-09-30</div>
                    </a>
                </li>
                <li class="fl">
                    <a href="#">
                        <div class="video_img"><img src="/home/images/movie1.jpg" alt=""></div>
                        <div class="video_name">之图科技一体机</div>
                        <div class="video_time">更新时间：2017-09-30</div>
                    </a>
                </li>
                <li class="fl">
                    <a href="#">
                        <div class="video_img"><img src="/home/images/movie1.jpg" alt=""></div>
                        <div class="video_name">之图科技一体机</div>
                        <div class="video_time">更新时间：2017-09-30</div>
                    </a>
                </li>
                <li class="fl">
                    <a href="#">
                        <div class="video_img"><img src="/home/images/movie1.jpg" alt=""></div>
                        <div class="video_name">之图科技一体机</div>
                        <div class="video_time">更新时间：2017-09-30</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    // nav
    $(".nav-header li:last-of-type a").addClass("active");
    $(".nav-header li").bind("mouseleave", function () {
        $(".nav-header li a").removeClass("active");
        $(".nav-header li:last-of-type a").addClass("active")
    });

    // 自动轮播
//    $(".carousel-inner .item:first-of-type").addClass("active");
//    $(".carousel-indicators li:first-of-type").addClass("active");
    $('#myCarousel').on("mouseover", function () {
        $(".carousel-control").show();
    }).on("mouseleave", function () {
        $(".carousel-control").hide();
    });
    $('#myCarousel').carousel({
        interval: 2000,
        carouselIndicators: true
    });
    $(".carousel-indicators li").on("mouseover", function () {
        $("#myCarousel").carousel($(this).index());
    })
</script>
{/block}
