{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/pioneer.css">
{/block}
{block name="body"}
<div class="header"></div>
<div class="nav"></div>
<div class="container">
    <div class="content_title col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <span class="glyphicon glyphicon-home"></span>
        <span>您的当前位置：</span>
        <a href="/home/index/index.html">首页</a>
        <span> > </span>
        <a href="/home/pioneer/index.html">先锋引领</a>
    </div>
    <div class="content col-md-12 col-lg-12 col-xs-12">
        <div class="col-md-3 col-lg-3 col-xs-3">
            <div class="content_tab">
                <ul>
                    <li class="red"><a href="javascript:;"><span>  </span> <span>先锋引领</span></a></li>
                </ul>
            </div>
            <div class="tab_img">
                <ul>
                    <li><img src="/home/images/ht.png" alt=""></li>
                    <li><img src="/home/images/jd.png" alt=""></li>
                    <li><img src="/home/images/ht.png" alt=""></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-lg-9 col-xs-9">
            <div class="text_title">党员风采</div>
            <div class="content_text text1">
                <ul>
                    <li class="clearfix">
                        <div class="media_left fl">
                            <img src="/home/images/dy.png" alt="">
                        </div>
                        <div class="media_body fl">
                            <div class="media_title"><a href="#">牛红兵 2014年度优秀党员</a></div>
                            <div class="media_content">2013奶奶是光电院十周年，她牵头撰写了十周年纪念册《积硅步 成千里》，已经完成10万字的档案版编辑工作。纪念册的编写为继续发扬和坚定光电院先进</div>
                            <div class="fr move_btn"><a href="#">查看更多>></a></div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="media_left fl">
                            <img src="/home/images/dy.png" alt="">
                        </div>
                        <div class="media_body fl">
                            <div class="media_title"><a href="#">牛红兵 2014年度优秀党员</a></div>
                            <div class="media_content">2013奶奶是光电院十周年，她牵头撰写了十周年纪念册《积硅步 成千里》，已经完成10万字的档案版编辑工作。纪念册的编写为继续发扬和坚定光电院先进</div>
                            <div class="fr move_btn"><a href="#">查看更多>></a></div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="media_left fl">
                            <img src="/home/images/dy.png" alt="">
                        </div>
                        <div class="media_body fl">
                            <div class="media_title"><a href="#">牛红兵 2014年度优秀党员</a></div>
                            <div class="media_content">2013奶奶是光电院十周年，她牵头撰写了十周年纪念册《积硅步 成千里》，已经完成10万字的档案版编辑工作。纪念册的编写为继续发扬和坚定光电院先进</div>
                            <div class="fr move_btn"><a href="#">查看更多>></a></div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="media_left fl">
                            <img src="/home/images/dy.png" alt="">
                        </div>
                        <div class="media_body fl">
                            <div class="media_title"><a href="#">牛红兵 2014年度优秀党员</a></div>
                            <div class="media_content">2013奶奶是光电院十周年，她牵头撰写了十周年纪念册《积硅步 成千里》，已经完成10万字的档案版编辑工作。纪念册的编写为继续发扬和坚定光电院先进</div>
                            <div class="fr move_btn"><a href="#">查看更多>></a></div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="media_left fl">
                            <img src="/home/images/dy.png" alt="">
                        </div>
                        <div class="media_body fl">
                            <div class="media_title"><a href="#">牛红兵 2014年度优秀党员</a></div>
                            <div class="media_content">2013奶奶是光电院十周年，她牵头撰写了十周年纪念册《积硅步 成千里》，已经完成10万字的档案版编辑工作。纪念册的编写为继续发扬和坚定光电院先进</div>
                            <div class="fr move_btn"><a href="#">查看更多>></a></div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="media_left fl">
                            <img src="/home/images/dy.png" alt="">
                        </div>
                        <div class="media_body fl">
                            <div class="media_title"><a href="#">牛红兵 2014年度优秀党员</a></div>
                            <div class="media_content">2013奶奶是光电院十周年，她牵头撰写了十周年纪念册《积硅步 成千里》，已经完成10万字的档案版编辑工作。纪念册的编写为继续发扬和坚定光电院先进</div>
                            <div class="fr move_btn"><a href="#">查看更多>></a></div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="media_left fl">
                            <img src="/home/images/dy.png" alt="">
                        </div>
                        <div class="media_body fl">
                            <div class="media_title"><a href="#">牛红兵 2014年度优秀党员</a></div>
                            <div class="media_content">2013奶奶是光电院十周年，她牵头撰写了十周年纪念册《积硅步 成千里》，已经完成10万字的档案版编辑工作。纪念册的编写为继续发扬和坚定光电院先进</div>
                            <div class="fr move_btn"><a href="#">查看更多>></a></div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--分页-->
            <div id="page" class="page_div"></div>
        </div>
    </div>
</div>
{/block}
{block name="script"}

{/block}
