{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/build.css">
{/block}
{block name="body"}
{include file="public/header"}
<div class="container">
    <div class="banner col-md-12 col-lg-12  col-sm-12 col-xs-12">
        <img src="/home/images/slide2.png" alt="">
    </div>
    <div class="content col-md-12 col-lg-12  col-sm-12 col-xs-12">
        <div class="col-md-3 col-lg-3  col-sm-3 col-xs-3">
            <div class="content_tab">
                <ul>
                    <li class="red"><a href="javascript:;"><span>通知公告</span> <span></span></a></li>
                    <li><a href="javascript:;"><span>活动报道</span> <span></span></a></li>
                    <li><a href="javascript:;"><span>支部内刊</span> <span></span></a></li>
                </ul>
            </div>
            <div class="tab_img">
                <ul>
                    <li><a href="/home/news/general.html"><img src="/home/images/zg.png" alt=""></a></li>
                    <li><a href="{:Url('Lesson/answer')}"><img src="/home/images/dt.png" alt=""></a></li>
                    <li><a href="{:Url('Video/index')}"><img src="/home/images/qw.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-lg-9  col-sm-9 col-xs-9">
            <div class="content_title">
                <span>您的当前位置：</span>
                <a href="{:Url('Index/index')}">首页</a>
                <span> > </span>
                <a href="javascript:;">支部建设</a>
                <span> > </span>
                <a href="javascript:;">通知公告</a>
            </div>
            <div class="buildLists">
                <p class="textTitle">通知公告</p>
                <div class="content_text text1">
                    <ul>
                        {volist name="list.one" id="vo1" key="k"}
                        <li class="clearfix">
                            <span class="fl">
                                <span class="circle"></span>
                                <span class="contentText"><a href="{:Url('Branch/detail?id='.$vo1['id'])}">{$vo1.title}</a></span>
                            </span>
                            <span class="fr">
                                [ <span class="time">{$vo1.create_time|time_format='Y-m-d'}</span> ]
                            </span>
                        </li>
                        {eq name="k%4" value="0"}
                        <p class="h16"></p>
                        {/eq}
                        {/volist}
                    </ul>
                </div>
                <div class="content_text text2 hidden">
                    <ul>
                        {volist name="list.two" id="vo2" key="k"}
                        <li class="clearfix">
                            <span class="fl">
                                <span class="circle"></span>
                                <span class="contentText"><a href="{:Url('Branch/detail?id='.$vo2['id'])}">{$vo2.title}</a></span>
                            </span>
                            <span class="fr">
                                [ <span class="time">{$vo2.create_time|time_format='Y-m-d'}</span> ]
                            </span>
                        </li>
                        {eq name="k%4" value="0"}
                        <p class="h16"></p>
                        {/eq}
                        {/volist}
                    </ul>
                </div>
                <div class="content_text text3 hidden">
                    <ul> {volist name="list.three" id="vo3" key="k"}
                        <li class="clearfix">
                            <span class="fl">
                                <span class="circle"></span>
                                <span class="contentText"><a href="{:Url('Branch/detail?id='.$vo3['id'])}">{$vo3.title}</a></span>
                            </span>
                            <span class="fr">
                                [ <span class="time">{$vo3.create_time|time_format='Y-m-d'}</span> ]
                            </span>
                        </li>
                        {eq name="k%4" value="0"}
                        <p class="h16"></p>
                        {/eq}
                        {/volist}
                    </ul>
                </div>
                <!--分页-->
                <div id="page" class="page_div"></div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>

    // 首页指定跳转过来

    var c = window.location.href.split("index/type/")[1];
    if (c != undefined) {
        var c1 = c.split(".html")[0];
        $(".content_tab li").eq(c1-1).addClass("red").siblings("li").removeClass("red");
        $(".content_text").removeClass("hidden").hide();
        $(".content_text").eq(c1-1).show();
        var html = $(".content_tab li").eq(c1-1).children("a").children('span')[0].innerHTML;
        $(".textTitle").html(html);
        $(".content_title a:last-of-type").html(html);
        var type = c1;
        var total;
        if ($(".content_tab li").eq(c1-1) == 0) {
            total = {$list.t1}
        }else if ($(".content_tab li").eq(c1-1) == 1) {
            total = {$list.t2}
        }else {
            total = {$list.t3}
        }
        pag(0,type,total,c1-1);
    }
    
    // nav
    $(".nav-header li:nth-of-type(5) a").addClass("active");
    $(".nav-header li").bind("mouseleave", function () {
        $(".nav-header li a").removeClass("active");
        $(".nav-header li:nth-of-type(5) a").addClass("active")
    });

    // 初始化加载
    pag(0,1,{$list.t1},0);

    $(function () {
        $(".content_tab li").on("click", function () {
            $(this).addClass("red").siblings("li").removeClass("red");
            $(".content_text").removeClass("hidden").hide();
            $(".content_text").eq($(this).index()).show();
            var html = $(this).children("a").children('span')[0].innerHTML;
            $(".textTitle").html(html);
            $(".content_title a:last-of-type").html(html);
            var type = $(this).index() + 1;
            var total;
            if ($(this).index() == 0) {
                total = {$list.t1}
            }else if ($(this).index() == 1) {
                total = {$list.t2}
            }else {
                total = {$list.t3}
            }
            pag(0,type,total,$(this).index());
        });
    });

    function pag(b,id,total,a) {
        if (total == 0) {
            $("#page").hide();
        }else {
            $("#page").show();
        }
        // 向上取整
        var page = Math.ceil(total / 12);
        $("#page").paging({
            pageNo:1,
            totalPage: page,
            totalSize: 300,
            callback: function(num) {
                $.ajax({
                    type: "post",
                    url: "{:Url('Branch/index')}",
                    data: {
                        p: num,
                        type: id
                    },
                    success: function (date) {
                        $(".content_text li").remove();
                        $(".content_text ul p").remove();
                        var data = date.data;
                        var html = "";
                        for (var i = 0; i <= 11; i++) {
                            if (a == 0) {
                                html = '<li class="clearfix">'
                                        +'<span class="fl">'
                                        +'<span class="circle"></span>'
                                        +'<span class="contentText'
                                        +" {eq name='$vo1.class' value='2'}sxt{/eq}"
                                        +'"><a href="'
                                        +"{:Url('Branch/detail?id='.$vo1['id'])}"
                                        +'">'
                                        +data[i].title
                                        +'</a></span>'
                                        +'</span>'
                                        +'<span class="fr">'
                                        +'[ <span class="time">'
                                        +data[i].time
                                        +'</span> ]'
                                        +'</span>'
                                        +'</li>';
                                if ((i + 1) % 4 == 0) {
                                    html += '<p class="h16"></p>';
                                }
                            }
                            else if (a == 1) {
                                html = '<li class="clearfix">'
                                        +'<span class="fl">'
                                        +'<span class="circle"></span>'
                                        +'<span class="contentText'
                                        +" {eq name='$vo2.class' value='2'}sxt{/eq}"
                                        +'"><a href="'
                                        +"{:Url('Branch/detail?id='.$vo2['id'])}"
                                        +'">'
                                        +data[i].title
                                        +'</a></span>'
                                        +'</span>'
                                        +'<span class="fr">'
                                        +'[ <span class="time">'
                                        +data[i].time
                                        +'</span> ]'
                                        +'</span>'
                                        +'</li>';
                                if ((i + 1) % 4 == 0) {
                                    html += '<p class="h16"></p>';
                                }
                            }
                            else if (a == 2) {
                                html = '<li class="clearfix">'
                                        +'<span class="fl">'
                                        +'<span class="circle"></span>'
                                        +'<span class="contentText'
                                        +" {eq name='$vo3.class' value='2'}sxt{/eq}"
                                        +'"><a href="'
                                        +"{:Url('Branch/detail?id='.$vo3['id'])}"
                                        +'">'
                                        +data[i].title
                                        +'</a></span>'
                                        +'</span>'
                                        +'<span class="fr">'
                                        +'[ <span class="time">'
                                        +data[i].time
                                        +'</span> ]'
                                        +'</span>'
                                        +'</li>';
                                if ((i + 1) % 4 == 0) {
                                    html += '<p class="h16"></p>';
                                }
                            }

                            $(".content_text ul").append(html);
                        }
                    }
                })
            }
        });
    }

</script>
{/block}
