/*right_content */
.content_text ul {
    margin-bottom: 31px;
}
.content_text li {
    margin-bottom: 10px;
    font-size: 16px;
}
.content_text .contentText {
    margin-left: 5px;
    position: relative;
    width: 100%;
    display: inline-block;
}
.content_text .contentText a {
    width: 100%;
    display: inline-block;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content_text .contentText a:hover {
    text-decoration: underline;
    color: #1755cc;
}
.content_text .fr {
    font-size: 15px;
}