/*right_content */
.content_text {
    margin-top: 15px;
    padding-left: 20px;
}
.content_text ul {
    margin-bottom: 20px;
}
.content_text li {
    margin-bottom: 10px;
    font-size: 18px;
}
.content_text .circle {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: #cc1100;
}
.content_text .contentText {
    margin-left: 5px;
    position: relative;
}
.content_text .contentText a {
    color: #666;
}
.content_text .contentText a:hover {
    text-decoration: underline;
    color: #cc1100;
}
.content_text .fr {
    font-size: 16px;
}