/*container*/
@media screen and (max-width: 992px) {
    .container {
        width: 992px;
    }
}
.container {
    padding: 0;
}

/*header*/
.header {
    height: 102px;
}
.header .container {
    padding-right: 0!important;
}
.header .container>div:first-of-type {
    padding-left: 0;
}
.header .container>div:last-of-type {
    padding-right: 0;
}
.logo a {
    display: inline-block;
    margin-top: 21px;
}
.timeNow {
    height: 18px;
    line-height: 18px;
    display: inline-block;
    color: #333333;
    font-size: 14px;
    margin-top: 64px;
}
.nav {
    height: 50px;
    line-height: 50px;
    background-color: #d43d3d;
    margin-top: 4px;
}
.nav-header {
    padding: 0!important;
}
.nav-header li {
    width: 12.5%;
}
.nav-header li a {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    color: #ffffff;
    font-family: "黑体";
    text-align: center;
}
.nav-header li a.active {
    background-color: #c22d2c;
}

/*banner*/
.banner {
    margin-top: 25px;
    padding: 0!important;
    height: 86px;
}
.banner img {
    width: 100%;
    height: 100%;
    display: inline-block;
}

/*left_tab*/
.content {
    margin-top: 45px;
    padding: 0;
}
.content>div:first-of-type {
    padding-left: 0!important;
}
.content>div:last-of-type {
    padding-right: 0!important;
}
.content_tab {
    background-color: #f1f1f1;
}
.content_tab li {
    text-align: center;
    line-height: 62px;
    height: 62px;
    cursor: pointer;
}
.content_tab li a {
    display: inline-block;
    color: #333;
    position: relative;
    width: 100%;
    font-size: 20px;
}
.content_tab li a span {
    display: inline-block;
}

.content_tab li.red {
    background-color: #d43d3d;
}
.content_tab li.red a {
    color: #fff;
}
.content_tab li.red a span:last-of-type {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../images/right_1.png") no-repeat;
    background-size: 20px 20px;
    left: 70%;
    top: 50%;
    margin-top: -10px;
}
.tab_img>ul>li {
    cursor: pointer;
    margin-top: 25px;
    /*height: 156px;*/
}
.tab_img li li {
    margin-top: 10px;
}
.tab_img li img {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.tab_img .circle {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: #cc1100;
    margin-top: 5px;
}
.tab_img span:last-of-type {
    display: inline-block;
    width: 88%;
    margin-left: 5px;
}
.tab_img span a {
    font-size: 16px;
}
.tab_img span:last-of-type a {
    color: #101010;
}
.tab_img span:last-of-type a:hover {
    color: #cc1100;
    text-decoration: underline;
}
/*content_title*/
.content_title {
    line-height: 60px;
    font-size: 17px;
    height: 62px;
    overflow: hidden;
}
.content_title a {
    color: #333;
}
.content_title a:hover {
    text-decoration: underline !important;
}
.buildLists,.learnLists,.learnList,.redLists,.specialList,.specialDetail,.comment,.newsDetail {
    border: 1px solid #d9d9d9;padding: 30px;
}
.content_text {
    padding-bottom: 30px;
    border-bottom: 1px solid #d9d9d9;
}
.content_text span.fl {
    display: inline-block;
    width: 80%;
    overflow: hidden;
    /*text-overflow:ellipsis;*/
    white-space: nowrap;
}
.textTitle {
    font-size: 20px;
    color: #c12c2c;
    font-weight: 600;
    margin-bottom: 30px;
}
.content_text .circle {
    width: 4px;
    height: 4px;
    display: inline-block;
    border-radius: 50%;
    background-color: #d9d9d9;
}
.sxt {
    position: relative;
}
.sxt::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url("../images/sxt.png") no-repeat;
    background-size: 18px 18px;
    position: absolute;
    top: 2px;
}
.sxt a {
    padding-left: 28px;
}
/*分页*/
.page_div {
    text-align: center;
    margin-top: 30px;
    font-size: 17px;
    font-family: "microsoft yahei";
    color: #666666;
    margin-right: 10px;
    padding-left: 20px;
    box-sizing: border-box;
}
.totalPages,.totalSize {
    display: none;
}
.page_div a {
    min-width: 30px;
    height: 28px;
    text-align: center;
    margin: 0 4px;
    cursor: pointer;
    line-height: 28px;
    color: #666666;
    font-size: 13px;
    display: inline-block;
    border: 1px solid #bfbfbf!important;
    background-color: #f3f3f3;
}
#firstPage,
#lastPage {
    width: 50px;
    color: #666;
    border: 1px solid #bfbfbf!important;
    background-color: #f3f3f3;
}
#prePage,
#nextPage {
    width: 70px;
    color: #666;
    border: 1px solid #dce0e0!important;
}
.page_div .current {
    background-color: #d43d3d;
    border-color: #d43d3d !important;
    color: #FFFFFF;
}

/* dz*/
.dz {
    text-align: center;
}
.dz_cl {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d24040;
    padding: 4px;
    margin: 0 auto;
    cursor: pointer;
}
.dz_cl.active {
    background-color : #c2c2c2;
}
.dz_img {
    width: 15px;
    height: 15px;
    margin: 0 auto;
}
.dz_cl p {
    font-size: 12px;
    color: #fff;
}
.dz_cn {
    font-size: 12px;
    color: #666;
    margin-top: 3px;
}
/*评论*/
.comment {
    padding: 0 20px 40px;
    margin-top: 20px;
}
.sum {
    font-size: 15px;
    color: #333;
    height: 50px;
    line-height: 50px;
    font-weight: 600;
}
.commentLists .list {
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #ebebeb;
}
.commentLists .list .list_img {
    width: 20px;
    height: 20px;
    margin: 15px 10px 15px 5px;
}
.commentLists .list .list_img img {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.commentLists .list .list_name,.commentLists .list .list_content {
    font-size: 15px;
    color: #666;
}
.commentLists .list .list_content {
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.comment_say {
    margin-top: 10px;
}
.comment_say>span:first-of-type {
    display: inline-block;
    font-size: 15px;
    color: #333;
    line-height: 50px;
    font-weight: 600;
}
.comment_say input {
    padding-left: 10px;
    border: 1px solid #d9d9d9;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    color: #666;
    width: 80%;
    margin-left: 10px;
}
@media screen and (min-width: 1200px){
    .comment_say input {
        width: 84.4%;
    }
}
.comment_say input::-webkit-input-placeholder  {
    color: #999;
    font-size:14px;
}
.comment_say input:-moz-placeholder {
    color: #999;
    font-size:14px;
}
.comment_say input::-moz-placeholder {
    color: #999;
    font-size:14px;
}
.comment_say input:-ms-input-placeholder {
    color: #999;
    font-size:14px;
}
.comment_say .comment_btn {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    background-color: #d24040;
    color: #fff;
    font-size: 15px;
    padding: 0 10px;
    margin-left: -4px;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .totalPages,.totalSize {
        display: none;
    }
    .page_div {
        text-align: center;
    }
}
/*footer*/
footer {
    margin-top: 40px;
    width: 100%;
    height: 150px;
    background-color: #f1f1f1;
    font-size: 15px;
}
footer .container {
    position: relative;
    height: 100%;
}
footer p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
}
footer p:first-of-type {
    margin-top: 37px;
}
footer p a {
    color: #333;
}
footer p a:hover {
    text-decoration: underline;
}
footer p span.sx {
    margin: 0 15px;
}

.h16 {
    height: 16px;
    width: 100%;
}

.h38 {
    height: 38px;
    width: 100%;
}
.carousel-inner>.item {
    width: 100%;
    height: 100%;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    width: 100%;
    height: 100%;
}

/* top*/
.top {
    position: fixed;
    bottom: 60px;
    right: 30px;
    width: 48px;
    height: 48px;
    background-color: #f9f9f9;
    line-height: 48px;
    text-align: center;
    display: none;
}
.top img {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.top:hover {
    background-color: #d7d7d7;
}