/*container*/
@media screen and (max-width: 992px) {
    .container {
        width: 992px;
    }
}

/*header*/
.header {
    height: 102px;
}
.logo a {
    display: inline-block;
    margin-top: 21px;
}
.timeNow {
    height: 18px;
    line-height: 18px;
    display: inline-block;
    color: #333333;
    font-size: 14px;
    margin-top: 64px;
}
.nav {
    height: 50px;
    line-height: 50px;
    background-color: #d43d3d;
}
.nav-header li {
    width: 12.5%;
}
.nav-header li a {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    color: #ffffff;
    font-family: "黑体";
    text-align: center;
}
.nav-header li a.active {
    background-color: #c22d2c;
}

    /*left_tab*/
.content_tab li {
    text-align: center;
    border-bottom: 1px solid #d7d7d7;
    line-height: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}
.content_tab li a {
    display: inline-block;
    color: #666;
    position: relative;
    width: 100%;
}
.content_tab li a span {
    display: inline-block;
}
.content_tab li a span:first-of-type {
    width: 20px;
    height: 20px;
    background: url("../images/right.png") no-repeat;
    background-size: 20px 20px;
    position: absolute;
    left: 22%;
    top: 10px;
}
.content_tab li.red {
    background-color: #cc1100;
}
.content_tab li.red a {
    color: #fff;
}
.content_tab li.red a span:first-of-type {
    background: url("../images/right_1.png") no-repeat;
    background-size: 20px 20px;
    left: 12%;
}
.tab_img {
    margin-top: 40px;
}
.tab_img>ul>li {
    cursor: pointer;
    margin-top: 30px;
    padding: 0 3%;
}
.tab_img li li {
    margin-top: 10px;
}
.tab_img li img {
    width: 100%;
    display: inline-block;
}
.tab_img .circle {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: #cc1100;
    margin-top: 5px;
}
.tab_img span:last-of-type {
    display: inline-block;
    width: 88%;
    margin-left: 5px;
}
.tab_img span a {
    font-size: 16px;
}
.tab_img span:last-of-type a {
    color: #101010;
}
.tab_img span:last-of-type a:hover {
    color: #cc1100;
    text-decoration: underline;
}
/*content_title*/
.content_title {
    line-height: 60px;
    font-size: 18px;
    padding-left: 45px;
}
.content_title a {
    color: #666;
}
.content_title a:hover {
    color: #000;
    text-decoration: underline !important;
}
.content_title a:last-of-type {
    color: #000;
}
.sxt {
    position: relative;
}
.sxt::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url("../images/sxt.png") no-repeat;
    background-size: 18px 18px;
    position: absolute;
    top: 5px;
}
.sxt a {
    padding-left: 20px;
}
/*分页*/
.page_div {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 15px;
    font-family: "microsoft yahei";
    color: #666666;
    margin-right: 10px;
    padding-left: 20px;
    box-sizing: border-box;
}
/*
 * 页数按钮样式
 */
.page_div a {
    min-width: 30px;
    height: 28px;
    border: 1px solid #dce0e0!important;
    text-align: center;
    margin: 0 4px;
    cursor: pointer;
    line-height: 28px;
    color: #666666;
    font-size: 13px;
    display: inline-block;
}
#firstPage,
#lastPage {
    width: 50px;
    color: #cc1100;
    border: 1px solid #cc1100!important;
}
#prePage,
#nextPage {
    width: 70px;
    color: #cc1100;
    border: 1px solid #cc1100!important;
}
.page_div .current {
    background-color: #cc1100;
    border-color: #cc1100;
    color: #FFFFFF;
}
.totalPages {
    margin: 0 10px;
}
.totalPages span,
.totalSize span {
    color: #cc1100;
    margin: 0 5px;
}

/*评论*/
.comment {
    margin-top: 50px;
    border-top: 1px solid #d7d7d7;
}
.commentList {
    padding: 15px 5px;
}
.comment_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.comment_text {
    width: 75%;
}
.comment_text .comment_name {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333333;
}
.isgood {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: relative;
}
.good {
    background: url("/home/images/good.png") no-repeat;
    background-size: 25px 25px;
}
.good_ {
    background: url("/home/images/good_.png") no-repeat;
    background-size: 25px 25px;
}
@keyframes good {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 0;
        top: 0;
    }
}
@keyframes good_ {
    0% {
        left: 0;
        top: 0;
    }
    25% {
        left: 1px;
        top: 1px;
    }
    50% {
        left: 0;
        top: 0;
    }
    75% {
        left: -1px;
        top: -1px;
    }
    100% {
        left: 0;
        top: 0;
    }
}
.comment_text .comment_content {
    font-size: 17px;
    color: #666666;
}
.comment_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.bottom {
    margin: 20px auto;
    padding: 0 20px;
}
.bottom input {
    width: 80%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #d7d7d7;
    border-radius: 10px 0 0 10px;
    font-size: 17px;
    padding-left: 10px;
}
.bottom .btn {
    width: 80px;
    height: 40px;
    color: #ffffff;
    font-size: 17px;
    margin-left: -4px;
    margin-top: -4px;
}

@media screen and (max-width: 1200px) {
    .totalPages,.totalSize {
        display: none;
    }
    .page_div {
        text-align: center;
    }
}
/*footer*/
footer {
    margin-top: 40px;
    width: 100%;
    height: 150px;
    background-color: #f1f1f1;
}