.content_text {
    height: auto;
}
.content>div:last-of-type {
    padding-left: 50px;
}
/*right_content */
.content_text {
    margin-top: 15px;
}
.content_text ul {
    margin-bottom: 20px;
}
.content_text li {
    margin-bottom: 10px;
    font-size: 18px;
}
.content_text .contentText {
    margin-left: 5px;
    position: relative;
    width: 100%;
    display: inline-block;
}
.content_text .contentText a {
    width: 100%;
    display: inline-block;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content_text .contentText a:hover {
    text-decoration: underline;
    color: #1755cc;
}
.content_text .fr {
    font-size: 16px;
}
.movieList li {
    margin-right: 30px;
    width: 47%;
    margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
    .movieList li {
        width: 47.8%;
    }
}
.movieList li:nth-of-type(2n) {
    margin-right: 0;
}
.movie_img {
    height: 150px;
    width: 100%;
}
.movieList li a:hover .movie_img {
    box-shadow: 2px 2px 1px #d9d9d9;
}
.movie_img img {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.movie_name {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.movieList li a:hover .movie_name {
    color: #1755cc;
}
.movie_content {
    font-size: 12px;
    color: #333;
    padding: 0 15px;
}
/*bookList*/
.bookList li {
    width: 29.5%;
    margin-right: 30px;
    margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
    .bookList li {
        width: 30.4%;
    }
}
.bookList li:nth-of-type(3n) {
    margin-right: 0;
}
.bookList li .book_img {
    height: 210px;
    width: 100%;
}
.bookList li .book_img img {
    width: 100%;
    height: 100%;
    display: block;
}
.bookList li .book_name {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.bookList li a:hover .book_img {
    box-shadow: 2px 2px 1px #d9d9d9;
}
.bookList li a:hover .book_name {
    color: #1755cc;
}


#firstPage, #lastPage {
    width: 48px;
}

/* songList*/
.songLists .list {
    margin-right: 46px;
    width: 46.2%;
}
.songLists .list:nth-of-type(2n-1) {
    padding-left: 20px;
}
.songLists .list:nth-of-type(2n) {
    margin-right: 0;
    padding-right: 20px;
}
.songLists .list .songImg {
    height: 327px;
    width: 100%;
}
.songLists .list .songImg img {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.songLists .list .songTitle {
    margin: 17px auto 22px;
    text-align: center;
    font-size: 16px;
    color: #333;
}
.songLists .list:hover .songImg {
    box-shadow: 2px 2px 5px #d9d9d9;
}
.songLists .list:hover .songTitle {
    color: #1755cc;
}
.h1 {
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    margin-top: 0;
    margin-bottom: 25px;
}