.content>div:last-of-type {
    padding-left: 50px;
}
/*right_content */
.content_text {
    margin-top: 15px;
}
.content_text ul {
    margin-bottom: 20px;
}
.content_text li {
    margin-bottom: 10px;
    font-size: 18px;
}
.content_text .contentText {
    margin-left: 5px;
    position: relative;
    width: 100%;
    display: inline-block;
}
.content_text .contentText a {
    width: 100%;
    display: inline-block;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content_text .contentText a:hover {
    text-decoration: underline;
    color: #1755cc;
}
.content_text .fr {
    font-size: 16px;
}
.movieList li {
    margin-right: 30px;
    width: 47%;
    margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
    .movieList li {
        width: 47.8%;
    }
}
.movieList li:nth-of-type(2n) {
    margin-right: 0;
}
.movie_img {
    height: 150px;
    width: 100%;
}
.movieList li a:hover .movie_img {
    box-shadow: 2px 2px 1px #d9d9d9;
}
.movie_img img {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.movie_name {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.movieList li a:hover .movie_name {
    color: #1755cc;
}
.movie_content {
    font-size: 12px;
    color: #333;
    padding: 0 15px;
}
/*bookList*/
.bookList li {
    width: 29.5%;
    margin-right: 30px;
    margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
    .bookList li {
        width: 30.4%;
    }
}
.bookList li:nth-of-type(3n) {
    margin-right: 0;
}
.bookList li .book_img {
    height: 210px;
    width: 100%;
}
.bookList li .book_img img {
    width: 100%;
    height: 100%;
    display: block;
}
.bookList li .book_name {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.bookList li a:hover .book_img {
    box-shadow: 2px 2px 1px #d9d9d9;
}
.bookList li a:hover .book_name {
    color: #1755cc;
}


#firstPage, #lastPage {
    width: 48px;
}

/* songList*/
.content_text {
    padding: 0;
}
.content_text .left {
    padding-left: 0;
}
.content_text .right {
    padding-right: 0;
}
.list .song_title {
    font-size: 15px;
    color: #333;
    padding: 15px 0;
    border-bottom: 1px solid #D9D9D9;
}
.list:nth-of-type(2n) .song_title {
    border-bottom: 0;
}
.list1 li,.list3 li {
    margin-top: 18px;
    position: relative;
}
.list1 li .name,
.list3 li .name{
    font-size: 14px;
    color: #333;
}
.list1 li:hover .name,
.list3 li:hover .name {
    color: #1755cc;
}
.list1 li .ls,
.list3 li .ls {
    position: absolute;
    top: 50%;
    right: 0;
    background: url("/home/images/ls.png") no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    margin-top: -10px;
}
.list1 li:hover .ls,
.list3 li:hover .ls {
    background: url("/home/images/ls_.png") no-repeat;
    background-size: 20px 20px;
}
.list2 li {
    height: 52px;
    margin-bottom: 15px;
    background-color: #d9d9d9;
    padding: 2px;
}
.list2 li .img_r1 {
    width: 50%;
    height: 100%;
}
.list2 li .img_r1 img {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.list2 li .cr {
    margin-left: 10px;
    width: 35%;
    height: 100%;
    position: relative;
    color: #333;
    font-size: 13px;
    overflow: hidden;
}
.list2 li:hover .cr {
    color: #1755cc;
}
.list2 li .cr .person {
    margin-top: 2px;
}
.list2 li .cr .song_name {
    position: absolute;
    bottom: 2px;
    left: 0;
}
.list2 li .jt {
    width: 20px;
    height: 20px;
    margin-top: 14px;
    margin-right: 3px;
    color: #333;
    background: url("/home/images/right.png") no-repeat;
    background-size: 20px 20px;
}
.list4 li {
    position: relative;
    height: 90px;
    width: 40%;
}
.list4 li img {
    width: 100%;
    height: 60px;
}
.list4 li p {
    color: #333;
    font-size: 14px;
    line-height: 30px;
}
.list4 li:hover p {
    color: #1755cc;
}
.list4 li .song_img {
    position: relative;
    width: 100%;
    height: 60px;
}
.list4 li .play {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("/home/images/play.png") center center no-repeat;
    background-color: rgba(0,0,0,.4);
    display: none;
}
.list4 li:hover .play {
    display: block;
}
.list4 li.ts {
    width: 58%;
    height: 179px;
    margin-right: 2%;
}
.list4 li.ts .song_img {
    height: 100%;
}
.list4 li.ts img {
    width: 100%;
    height: 179px;
}
.list4 li.ts p {
    height: 50px;
    line-height: 50px;
    background-color: rgba(0,0,0,.3);
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.list4 li.ts:hover p {
    background-color: rgba(0,0,0,.5);
}
