/*detail*/
.newsDetail .newsTitle {
    font-size: 18px;
    color: #333;
    text-align: center;
    font-weight: 600;
}
.newsDetail .detail_img {
    margin: 28px auto;
    width: 500px;
    height: 280px;
}
.newsDetail .detail_img img {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.newsDetail .detail_content {
    margin-bottom: 60px;
}
.newsDetail .detail_content p {
    font-size: 15px;
    color: #333;
    text-indent: 2em;
    line-height: 26px;
}