/*detail*/
.newsDetail .newsTitle {
    font-size: 18px;
    color: #333;
    text-align: center;
    font-weight: 600;
}
.detail_content img {
    margin: 28px auto;
    width: 500px;
    height: 280px;
    display: block;
}
.newsDetail .detail_content {
    margin-bottom: 60px;
}
.newsDetail .detail_content p {
    font-size: 15px;
    color: #333;
    text-indent: 2em;
    line-height: 26px;
}
.time {
    padding-right: 80px;
    font-size: 12px;
    color: #666;
    margin: 10px 0;
}