@media (min-width: 992px){
    .container {
        width: 1170px;
    }
}
@media (min-width: 768px){
    .container {
        width: 1170px;
    }
}

header {
    height: 60px;
    width: 100%;
    background-color: #d43d3d;
}
header img {
    height: 46px;
    margin-top: 7px;
}
.main {
    width: 100%;
    height: 615px;
    background-color: #282828;
}
.main .container {
    padding: 0 15px;
    /*background-color: #1c1c1c;*/
}
.content_title span,.content_title a {
    font-size: 12px;
    height: 55px;
    line-height: 55px;
    color: #d3d3d3;
}
.movieNow {
    width: 755px;
    height: 426px;
    margin-right: 7px;
}
.movieNow iframe {
    width: 100%;
    height: 100%;
}
/*lists*/
.movie_content {
    width: 100%;
    height: 459px;
    background-color: #1c1c1c;
}
.movieLists {
    width: 348px;
    height: 426px;
    overflow-y: scroll;
    position: relative;
    overflow-x: hidden;
    scrollbar-base-color: #1c1c1c;
    scrollbar-track-color: #1c1c1c;
    scrollbar-3dlight-color: #1c1c1c;
    scrollbar-highlight-color: #1c1c1c;
    scrollbar-face-color: #1c1c1c;
    scrollbar-dark-shadow-color: #1c1c1c;
    scrollbar-shadow-color: #1c1c1c;
    scrollbar-arrow-color: #1c1c1c;
}
.movieLists::-webkit-scrollbar {
    display: none;
}
.movieLists ul {
    position: absolute;
    left: 0;
    top: 0;
}
.movieLists li {
    width: 348px;
    margin-bottom: 15px;
}
.listImg {
    width: 115px;
    height: 70px;
}
.listImg img {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.list_content {
    font-size: 11px;
    color: #d3d3d3;
    margin-left: 7px;
    width: 226px;
}
.list_content .title {
    color: #fff;
}
.list_content .text {
    height: 32px;
    overflow: hidden;
    display: inline-block;
    line-height: 1.2;
}
.movieLists li:hover img {
    border: 1px solid #d43d3d;
}
.movieLists li:hover .title,.movieLists li:hover .text {
    color: #d43d3d;
}
.introduce {
    padding: 0 30px 0 15px;
}
.introduce .name {
    margin-top: 21px;
    font-size: 22px;
    color: #fff;
}
.introduce .name span {
    display: inline-block;
    font-size: 16px;
    color: #d3d3d3;
}
.introduce .text {
    font-size: 14px;color: #d1d1d1;
    margin-top: 5px;
    height: 20px;
    line-height: 25px;
}
.introduce .text p {
    display: inline-block;
    width: 93%;
    height: 100%;
    overflow: hidden;
}

/*comment*/
.comment {
    border: 0;
    padding: 0;
}
.lists_content {
    height: 252px;
    overflow-y: scroll;
    position: relative;
    overflow-x: hidden;
    scrollbar-base-color: #fff;
    scrollbar-track-color: #fff;
    scrollbar-3dlight-color: #fff;
    scrollbar-highlight-color: #fff;
    scrollbar-face-color: #fff;
    scrollbar-dark-shadow-color: #fff;
    scrollbar-shadow-color: #fff;
    scrollbar-arrow-color: #fff;
}
.lists_content::-webkit-scrollbar {
    display: none;
}
.lists {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.comment_say {
    margin-top: 0;
}
.comment_say>span:first-of-type {
    font-size: 15px;
    color: #333;
    height: 50px;
    line-height: 50px;
    font-weight: 600;
    padding-left: 20px;
}
.comment_say div {
    height: 295px;
    border: 1px solid #d9d9d9;
}
.comment_say textarea {
    margin-left: 0;
    display: block;
    width: 100%;
    height: 252px;
    padding: 10px;
    border-bottom: 1px solid #d9d9d9;
}
.comment_say .comment_btn {
    height: 32px;
    width: 51px;
    color: #fff;
    line-height: 32px;
    margin-top: 5px;
    margin-right: 5px;
}