{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/redTopic.css">
{/block}
{block name="body"}
{include file="public/header"}
<div class="container">
    <div class="content col-md-12 col-lg-12 col-xs-12">
        <div class="col-md-3 col-lg-3 col-xs-3">
            <div class="tabs clearfix">
                <ul>
                    {volist name="list" id="vo"}
                    <li class="fl">
                        <div class="tab_name">{$vo.name}</div>
                        <div class="tab_content">{$vo.summary}</div>
                    </li>
                    {/volist}
                </ul>
            </div>
            <div class="tab_img">
                <ul>
                    <li><a href="/home/news/general.html"><img src="/home/images/zg.png" alt=""></a></li>
                    <li><a href="/home/learn/answer.html"><img src="/home/images/dt.png" alt=""></a></li>
                    <li><a href="/home/video/index.html"><img src="/home/images/qw.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-lg-9 col-xs-9">
            <div class="content_title">
                <span>您的当前位置：</span>
                <a href="/home/index/index.html">首页</a>
                <span> > </span>
                <a href="/home/special/index.html">红色专题</a>
                <span> > </span>
                <a href="#"></a>
            </div>
            {volist name="list" id="vo"}
            <div class="specialImg"><img src="{$vo.front_cover|get_cover='path'}" alt=""></div>
            {/volist}
            <div class="specialList">
                <p class="textTitle"></p>
                {volist name="list" id="vo"}
                <div class="content_text text1">
                    <ul>
                        {volist name="vo.con" id="con"}
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="/home/special/detail.html">{$con.title}</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        {/volist}
                    </ul>
                </div>
                {/volist}

                <!--分页-->
                <div id="page" class="page_div"></div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    $(function () {

        // nav
        $(".nav-header li:nth-of-type(3) a").addClass("active");
        $(".nav-header li").bind("mouseleave", function () {
            $(".nav-header li a").removeClass("active");
            $(".nav-header li:nth-of-type(3) a").addClass("active")
        });

        // 判断tabs li 的奇偶数
        var len = $(".tabs li").length;
        console.log(len);
        if (len % 2 == 1) {
            $(".tabs li.last").remove();
        }
        if (len >= 6) {
            $(".tab_img li:first-of-type").hide();
        }
        if (len >= 8) {
            $(".tab_img li:nth-of-type(2)").hide();
        }
        if (len >= 13) {
            $(".tabs li:nth-of-type(n+13)").remove();
        }

        var html = $(".tabs li").children(".tab_name")[0].innerHTML + $(".tabs li").children(".tab_content")[0].innerHTML;
        $(".textTitle").html(html);
        $(".content_title a:last-of-type").html(html);
        $(".specialImg").eq(0).show().siblings(".specialImg").hide();
        $(".content_text").eq(0).show().siblings(".content_text").hide();

        $(".tabs li").on("click", function () {
            if ($(this).hasClass("last")) {
                return
            }
            $(".tabs li").css("animation","click_ 1s ease");
            $(this).css("animation","click 1s ease");
            $(".content_text").removeClass("hidden").hide();
            $(".content_text").eq($(this).index()).show();
            var html = $(this).children(".tab_name")[0].innerHTML + $(this).children(".tab_content")[0].innerHTML;
            $(".textTitle").html(html);
            $(".content_title a:last-of-type").html(html);
            $(".specialImg").eq($(this).index()).show().siblings(".specialImg").hide();
            $(".content_text").eq($(this).index()).show().siblings(".content_text").hide();
        });

        // 首页指定跳转过来
        
        var c = window.location.href.split("index/id/")[1];
        if (c != undefined) {
            var c1 = c.split(".html")[0];
            $(".content_text").removeClass("hidden").hide();
            $(".content_text").eq($(this).index()).show();
            var html = $(".tabs li").eq(c1-1).children(".tab_name")[0].innerHTML + $(".tabs li").eq(c1-1).children(".tab_content")[0].innerHTML;
            $(".textTitle").html(html);
            $(".content_title a:last-of-type").html(html);
        }


    })
</script>
{/block}
