{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/redTopic.css">
{/block}
{block name="body"}
{include file="public/header"}
<div class="container">
    <div class="content col-md-12 col-lg-12 col-xs-12">
        <div class="col-md-3 col-lg-3 col-xs-3">
            <div class="tabs clearfix">
                <ul>
                    {volist name="list" id="vo"}
                    <li class="fl">
                        <div class="tab_name">{$vo.name}</div>
                        <div class="tab_content">{$vo.summary}</div>
                        <span class="hidden tab_id">{$vo.id}</span>
                        <span class="hidden tab_total">{$vo.total}</span>
                    </li>
                    {/volist}
                </ul>
            </div>
            <div class="tab_img">
                <ul>
                    <li><a href="/home/news/general.html"><img src="/home/images/zg.png" alt=""></a></li>
                    <li><a href="{:Url('Lesson/answer')}"><img src="/home/images/dt.png" alt=""></a></li>
                    <li><a href="{:Url('Video/index')}"><img src="/home/images/qw.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-lg-9 col-xs-9">
            <div class="content_title">
                <span>您的当前位置：</span>
                <a href="{:Url('Index/index')}">首页</a>
                <span> > </span>
                <a href="{:Url('Special/index')}">红色专题</a>
                <span> > </span>
                <a href="#"></a>
            </div>
            {volist name="list" id="vo"}
            <div class="specialImg"><img src="{$vo.front_cover|get_cover='path'}" alt=""></div>
            {/volist}
            <div class="specialList">
                <p class="textTitle"></p>
                {volist name="list" id="vo"}
                <div class="content_text text1">
                    <ul>
                        {volist name="vo.con" id="con" key="k"}
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText {eq name='$con.class' value='2'}sxt{/eq}"><a href="{:Url('Special/detail?id='.$con['id'])}">{$con.title}</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">{$con.create_time|time_format='Y-m-d'}</span> ]
                                </span>
                        </li>
                        {eq name="k%4" value="0"}
                        <p class="h16"></p>
                        {/eq}
                        {/volist}
                    </ul>
                </div>
                {/volist}

                <!--分页-->
                <div id="page" class="page_div"></div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    $(function () {

        // nav
        $(".nav-header li:nth-of-type(3) a").addClass("active");
        $(".nav-header li").bind("mouseleave", function () {
            $(".nav-header li a").removeClass("active");
            $(".nav-header li:nth-of-type(3) a").addClass("active")
        });

        // 判断tabs li 的奇偶数
        var len = $(".tabs li").length;
        if (len % 2 == 1) {
            $(".tabs li.last").remove();
        }
        if (len >= 6) {
            $(".tab_img li:first-of-type").hide();
        }
        if (len >= 8) {
            $(".tab_img li:nth-of-type(2)").hide();
        }
        if (len >= 13) {
            $(".tabs li:nth-of-type(n+13)").remove();
        }

        var html = $(".tabs li").children(".tab_name")[0].innerHTML + $(".tabs li").children(".tab_content")[0].innerHTML;
        $(".textTitle").html(html);
        $(".content_title a:last-of-type").html(html);
        $(".specialImg").eq(0).show().siblings(".specialImg").hide();
        $(".content_text").eq(0).show().siblings(".content_text").hide();

        $(".tabs li").on("click", function () {
            if ($(this).hasClass("last")) {
                return
            }
            $(".tabs li").css("animation","click_ 1s ease");
            $(this).css("animation","click 1s ease");
            $(".content_text").removeClass("hidden").hide();
            $(".content_text").eq($(this).index()).show();
            var html = $(this).children(".tab_name")[0].innerHTML + $(this).children(".tab_content")[0].innerHTML;
            $(".textTitle").html(html);
            $(".content_title a:last-of-type").html(html);
            $(".specialImg").eq($(this).index()).show().siblings(".specialImg").hide();
            $(".content_text").eq($(this).index()).show().siblings(".content_text").hide();

            // 分页操作
            var total = $(this).children(".tab_total").html();
            var id = $(this).children(".tab_id").html();
            pag(0,id,total);
        });

        // 分页
        var total = $(".tabs li:first-of-type .tab_total").html();
        var id = $(".tabs li:first-of-type .tab_id").html();
        pag(0,id,total);
        function pag(b,id,total) {
            if (total == 0) {
                $("#page").hide();
            }else {
                $("#page").show();
            }
            // 向上取整
            var page = Math.ceil(total / 12);
            $("#page").paging({
                pageNo:1,
                totalPage: page,
                totalSize: 300,
                callback: function(num) {
                    $.ajax({
                        type: "post",
                        url: "{:Url('Special/index')}",
                        data: {
                            p: num,
                            id: id
                        },
                        success: function (date) {
                            $(".content_text li").remove();
                            var data = date.data;
                            var html = "";
                            for (var i = 0; i <= 11; i++) {
                                html = '<li class="clearfix">'
                                        +'<span class="fl">'
                                        +'<span class="circle"></span>'
                                        +'<span class="contentText'
                                        +" {eq name='$con.class' value='2'}sxt{/eq}"
                                        +'"><a href="'
                                        +"{:Url('Special/detail?id='.$con['id'])}"
                                        +'">'
                                        +data[i].title
                                        +'</a></span>'
                                        +'</span>'
                                        +'<span class="fr">'
                                        +'[ <span class="time">'
                                        +data[i].time
                                        +'</span> ]'
                                        +'</span>'
                                        +'</li>';
                                if ((i + 1) % 4 == 0) {
                                    html += '{eq name="k%4" value="0"}'
                                            +'<p class="h16"></p>'
                                            +'{/eq}';
                                }
                                $(".content_text ul").append(html);
                            }
                        }
                    })
                }
            });
        }


        // 首页指定跳转过来
        
        var c = window.location.href.split("index/id/")[1];
        if (c != undefined) {
            var c1 = c.split(".html")[0];
            $(".content_text").removeClass("hidden").hide();
            $(".content_text").eq($(".tabs li").eq(c1-1)).show();
            var html = $(".tabs li").eq(c1-1).children(".tab_name")[0].innerHTML + $(".tabs li").eq(c1-1).children(".tab_content")[0].innerHTML;
            $(".textTitle").html(html);
            $(".content_title a:last-of-type").html(html);
            $(".specialImg").eq(c1-1).show().siblings(".specialImg").hide();
            $(".content_text").eq(c1-1).show().siblings(".content_text").hide();
            // 分页操作
            var total1 = $(".tabs li").eq(c1-1).children(".tab_total").html();
            var id1 = $(".tabs li").eq(c1-1).children(".tab_id").html();
            pag(0,id1,total1);
        }

        var c2 = window.location.href.split("index/tag/")[1];
        if (c2 != undefined) {
            var c3 = c2.split(".")[0];
            $(".content_text").removeClass("hidden").hide();
            $(".content_text").eq(c3-1).show();
             var html1 = $(".tabs li").eq(c3-1).children(".tab_name")[0].innerHTML + $(".tabs li").eq(c3-1).children(".tab_content")[0].innerHTML;
             $(".textTitle").html(html1);
             $(".content_title a:last-of-type").html(html1);
              $(".specialImg").eq(c3-1).show().siblings(".specialImg").hide();
             $(".content_text").eq(c3-1).show().siblings(".content_text").hide();
            // 分页操作
            var total2 = $(".tabs li").eq(c3-1).children(".tab_total").html();
            var id2 = $(".tabs li").eq(c3-1).children(".tab_id").html();
            pag(0,id2,total2);
        }

    })
</script>
{/block}
