{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/redTopic.css">
{/block}
{block name="body"}
{include file="public/header"}
<div class="container">
    <div class="content col-md-12 col-lg-12 col-xs-12">
        <div class="col-md-3 col-lg-3 col-xs-3">
            <div class="tabs clearfix">
                <ul>
                    <li class="fl">
                        <div class="tab_name"></div>
                        <div class="tab_content">十九大专题</div>
                    </li>
                    <li class="fl">
                        <div class="tab_name"></div>
                        <div class="tab_content">十八大专题</div>
                    </li>
                    <li class="fl">
                        <div class="tab_name">习大大</div>
                        <div class="tab_content">7.26讲话</div>
                    </li>
                    <li class="fl last"></li>
                </ul>
            </div>
            <div class="tab_img">
                <ul>
                    <li><a href="/home/news/general.html"><img src="/home/images/zg.png" alt=""></a></li>
                    <li><a href="/home/learn/answer.html"><img src="/home/images/dt.png" alt=""></a></li>
                    <li><a href="/home/video/index.html"><img src="/home/images/qw.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-lg-9 col-xs-9">
            <div class="content_title">
                <span>您的当前位置：</span>
                <a href="/home/index/index.html">首页</a>
                <span> > </span>
                <a href="/home/special/index.html">红色专题</a>
                <span> > </span>
                <a href="/home/special/index.html">十九大专题</a>
            </div>
            <div class="specialImg"><img src="#" alt=""></div>
            <div class="specialList">
                <p class="textTitle">十九大专题</p>
                <div class="content_text text1">
                    <ul>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="/home/special/detail.html">一月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">关于参加三会一课的通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">之图全体员工参加党建活动</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">二月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                    </ul>
                    <ul>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">一月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">关于参加三会一课的通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">之图全体员工参加党建活动</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">二月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                    </ul>
                    <ul>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">一月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">关于参加三会一课的通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">之图全体员工参加党建活动</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">二月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                    </ul>
                </div>
                <div class="content_text text2 hidden">
                    <ul>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">二月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">关于参加三会一课的通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">之图全体员工参加党建活动</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">二月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                    </ul>
                    <ul>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">一月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">关于参加三会一课的通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">之图全体员工参加党建活动</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">二月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                    </ul>
                    <ul>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">一月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">关于参加三会一课的通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">之图全体员工参加党建活动</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">二月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                    </ul>
                </div>
                <div class="content_text text3 hidden">
                    <ul>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">三月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">关于参加三会一课的通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">之图全体员工参加党建活动</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">二月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                    </ul>
                    <ul>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">一月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">关于参加三会一课的通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">之图全体员工参加党建活动</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">二月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                    </ul>
                    <ul>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">一月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">关于参加三会一课的通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">之图全体员工参加党建活动</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                        <li class="clearfix">
                                <span class="fl">
                                    <span class="circle"></span>
                                    <span class="contentText"><a href="javascript:;">二月份活动通知</a></span>
                                </span>
                                <span class="fr">
                                    [ <span class="time">2017-2-28</span> ]
                                </span>
                        </li>
                    </ul>
                </div>
                <!--分页-->
                <div id="page" class="page_div"></div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    $(function () {

        // nav
        $(".nav-header li:nth-of-type(3) a").addClass("active");
        $(".nav-header li").bind("mouseleave", function () {
            $(".nav-header li a").removeClass("active");
            $(".nav-header li:nth-of-type(3) a").addClass("active")
        });

        // 判断tabs li 的奇偶数
        var len = $(".tabs li").length;
        console.log(len);
        if (len % 2 == 1) {
            $(".tabs li.last").remove();
        }
        if (len >= 6) {
            $(".tab_img").hide();
        }
        if (len >= 13) {
            $(".tabs li:nth-of-type(n+13)").remove();
        }


        $(".tabs li").on("click", function () {
            if ($(this).hasClass("last")) {
                return
            }
            $(".tabs li").css("animation","click_ 1s ease");
            $(this).css("animation","click 1s ease");
            $(".content_text").removeClass("hidden").hide();
            $(".content_text").eq($(this).index()).show();
            var html = $(this).children(".tab_name")[0].innerHTML + $(this).children(".tab_content")[0].innerHTML;
            $(".textTitle").html(html);
            $(".content_title a:last-of-type").html(html);
        });

        // 首页指定跳转过来
        
        var c = window.location.href.split("index/tag/")[1];
        if (c != undefined) {
            var c1 = c.split(".html")[0];
            $(".content_text").removeClass("hidden").hide();
            $(".content_text").eq($(this).index()).show();
            var html = $(".tabs li").eq(c1-1).children(".tab_name")[0].innerHTML + $(".tabs li").eq(c1-1).children(".tab_content")[0].innerHTML;
            $(".textTitle").html(html);
            $(".content_title a:last-of-type").html(html);
        }

    })
</script>
{/block}
